<table>
    <tr>
        <td></td>
        <td>Rad</td>
        <td>v-</td>
        <td>C</td>
        <td>()</td>
        <td>%</td>
        <td>./.</td>
    </tr>
    <tr>
        <td>sin</td>
        <td>cos</td>
        <td>tan</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>X</td>
    </tr>
    <tr>
        <td>ln</td>
        <td>log</td>
        <td>1/x</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>-</td>
    </tr>
    <tr>
        <td>e^x</td>
        <td>x^2</td>
        <td>x^y</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>+</td>
    </tr>
    <tr>
        <td>|x|</td>
        <td>pi</td>
        <td>e</td>
        <td>+/-</td>
        <td>0</td>
        <td>.</td>
        <td>=</td>
    </tr>
</table>

<table>
    <tr>
        <td><button></button></td>
        <td><button>Rad</button></td>
        <td><button>v-</button></td>
        <td><button>C</button></td>
        <td><button>()</button></td>
        <td><button>%</button></td>
        <td><button>./.</button></td>
    </tr>
</table>