<div class="top-spread-menu">
    <div class="spread-bar">
  
      <div class="search">
        <input type="text" placeholder="What can we help you find?"><button>Search</button>
      </div>
  
      <div class="spreadspace">
        <a href="/spreadspace">SpreadSpace</a>
      </div>
<!--        <div class="home-icon">
        <a href="/dashboard">
          <img height="50px" width="50px" src="../public/icons/home.png" alt="Home">
        </a>
      </div> -->
    </div>
    <ul>
      
      
      <li><a class="covid-link" href="/covid-ar">COVID-AR</a></li>
      <li><a href="/socialspread">SocialSpread</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/storage">Storage</a></li>
    </ul>
  </div>

<h1>Academy</h1>

<div class="image-header-container">
    <div class="main-image">
        <img src="/site/classroom_1a1a1a.jfif" alt="classroom_1a1a1a" width="100%" height="100%">
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="academy-subject-menu">

  <ul>
    <li><a href="/programming">Computer Programming</a></li>
    <li><a href="/math">Math</a></li>
    <li><a href="/science">Science</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="/art">Art</a></li>
  </ul>
</div>

<br>
<br>
<br>
<br>

<div id="backpack">
    <div class="backpack-tool-item">

        <h3>Notepad</h3>
        

    <div id="write">
        <div class="note-title">
            <label for="noteTitle">Note Title</label>
            <input type="text" id="noteTitle" />
        </div>
        <div class="note-body">
            
            <label for="noteBody">Note</label>
            <textarea id="noteBody"></textarea>
        </div>
        <button id="btnSave">Save Note</button>
    </div>
    <div id="read">
        <button id="btnWrite">.</button>
        <select size="10" id="noteMaster"></select>
        <div id="noteDisplay"></div>
    </div>
</div>
<div class="backpack-tool-item">
 <h3>Lists</h3> 
 <div class="lists-catagories">

   <ul>
     <li>Personal</li>
     <li>Academy</li>
     <li>Business</li>
    </ul>
  </div>
 <div class="lists">
   <form action="/newTodo" method="POST">
      <div class="input-group">
        <input type="text" placeholder="Add new item"><span><button type="submit">Add</button></span>
      </div>
   </form>
 </div>  
</div>
<div class="backpack-tool-item">
<h3>Calculator</h3>
<table class="calculator">
  <tr>
    <td><button></button></td>
    <td><button>Rad</button></td>
    <td><button>v-</button></td>
    <td><button>C</button></td>
    <td><button>()</button></td>
    <td><button>%</button></td>
    <td><button>./.</button></td>
</tr>
  <tr>
    <td><button>sin</button></td>
    <td><button>cos</button></td>
    <td><button>tan</button></td>
    <td><button class="number-button">7</button></td>
    <td><button class="number-button">8</button></td>
    <td><button class="number-button">9</button></td>
    <td><button>X</button></td>
</tr>
  <tr>
    <td><button>ln</button></td>
    <td><button>log</button></td>
    <td><button>1/x</button></td>
    <td><button class="number-button">4</button></td>
    <td><button class="number-button">5</button></td>
    <td><button class="number-button">6</button></td>
    <td><button>-</button></td>
</tr>
  <tr>
    <td><button>e^x</button></td>
    <td><button>x^2</button></td>
    <td><button>x^y</button></td>
    <td><button class="number-button">1</button></td>
    <td><button class="number-button">2</button></td>
    <td><button class="number-button">3</button></td>
    <td><button>+</button></td>
</tr>
  <tr>
    <td><button>|x|</button></td>
    <td><button>pi</button></td>
    <td><button>e</button></td>
    <td><button>+/-</button></td>
    <td><button class="number-button">0</button></td>
    <td><button>.</button></td>
    <td><button>=</button></td>
</tr>
</table>

</div>
<div class="backpack-tool-item">
<h3>References</h3>
</div>
<div class="backpack-tool-item">
<h3>Tutors</h3>
</div>
<div class="backpack-tool-item">
<h3>Similar Topics</h3>
</div>
<div class="backpack-tool-item">
    <h3>Help</h3>
</div>





</div>
<div class="academy-subject-menu">

  <ul>
    <li>Flashcards</li>
    <li>Reading</li>
    <li>Writing</li>
    <li>Quizzes</li>
    <li>Point System with Rewards</li>
    <li>Volunteer Tutors</li>
  </ul>
</div>
