<div class="top-spread-menu">
    <div class="spread-bar">
  
      <div class="search">
        <input type="text" placeholder="What can we help you find?"><button>Search</button>
      </div>
  
      <div class="spreadspace">
        <a href="/spreadspace">SpreadSpace</a>
      </div>
  <!--     <div class="home-icon">
        <a href="/dashboard">
          <img height="50px" width="50px" src="../public/icons/home.png" alt="Home">
        </a>
      </div> -->
    </div>
    <ul>
      
      
      <li><a class="covid-link" href="/covid-ar">COVID-AR</a></li>
      <li><a href="/socialspread">SocialSpread</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/storage">Storage</a></li>
    </ul>
  </div>

<h1>Academy</h1>

<div class="image-header-container">
    <div class="main-image">
        <img src="/site/classroom_1a1a1a.jfif" alt="classroom_1a1a1a" width="100%" height="100%">
    </div>
</div>
<br>
<br>
<br>
<br>
<ul>
    <li>Computer Programming</li>
    <li>Math</li>
    <li>Science</li>
    <li>History</li>
    <li>Art</li>
</ul>

<br>
<br>
<br>
<br>
<ul>
    <li>Flashcards</li>
    <li>Reading</li>
    <li>Writing</li>
    <li>Quizzes</li>
    <li>Point System with Rewards</li>
    <li>Volunteer Tutors</li>
</ul>
