<h1>Add Music Home</h1>

<div class="my-songs">
    <ul>
        <li>Michael Jackson - Beat It</li>
        <li>DMX - Where the Hood At?</li>
        <li>Elvis Crespo - Suavemente</li>
    </ul>
</div>