<h1>Camera 1</h1>

<video id="camera-1" autoplay></video>

<script>
    navigator.mediaDevices.getUserMedia({
        video: {
            width: 400,
            height: 800
        }
    }).then(stream => {
        document.getElementById('camera-1').srcObject = stream;
    })
</script>