<h1>Shopping Cart</h1>


<div class="page-nav">
    <ul>
        <li>

            <a href="/shopping">Back to Shopping Home</a>
        </li>
    </ul>
</div>

<div class="checkout-cart">

    <table>
        <tr>
            <th>Item</th>
            <th>Model</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>LG Ultrawide Monitor</td>
            <td>UW-319853541</td>
            <td>$369.99</td>
            <td>1</td>
            <td>$369.99</td>
        </tr>
    </table>
    <table style="margin-top: 80px;">
        <tr>
            <th>Total:</th>
            <th>$369.99</th>
        </tr>
    </table>
    <div class="checkout">
        <a href="/shopping/cart/checkout"><button>Purchase</button></a>
    </div>
</div>