<div class="main-heading">
    <h1>David V. Olson</h1>
</div>
<div class="celebration-menu">
    <div class="nav-menu">
        <ul>
            <li><a href="/celebration-life">Back to Dave</a></li>
            <li><a href="/celebration-of-life/leann">LeAnn</a></li>
            <li><a href="/celebration-of-life/tommy">Tommy</a></li>
            <li><a href="/celebration-of-life/fran">Fran</a></li>
            <li><a href="/celebration-of-life/nine-and-dine">9 & Dine</a></li>
        </ul>
    </div>
    <div class="widespread-link">
        <ul>
            <li><a href="/dashboard">WideSpread</a></li>
        </ul>
    </div>
</div>
<div class="celebration-container">
    <div class="celebration-header">
        <div class="main-memory-container">
            <img src="/celebration-of-life/dave+jonny_harvard-widener_1a3a1a.jpg" alt="Dave & Jonny in front of his school">
        </div>
            <h1>Jonathan David Olson</h1>
            <h2>Daves Son</h2>
        <h4>Cromwell, CT</h4>
    </div>
    <div id="celebration-goodbye">
        <h3>I love you Ole Man!!!</h3>
        <p>I can't believe I'm writing my goodbye to you, you've always prepared us for this, by telling us "I'm not going to be around forever kid" or "I'm getting ready for the glue factory, Junior", or my favorite, "I've got 1 foot in the grave, the other on a banana peel"... You made everything easier with your sense of humor! But no matter how many jokes you had about the "glue factory", there will never be enough of them to take the pain of losing you away. I was your only son. You wanted to make sure you gave me the best possible life... well, you did! You taught me everything, from tools and building anything, to maths and sciences. You taught me how to drive (we won't say what age). You taught me how to have fun. You taught me how to be respectful. Most important, you taught me how to be a man.</p>
        <p>I remember growing up, you were at all my sports matches. You and mom flew down to Dominican Republic to come watch me play in a baseball tournement, I got MVP. I'm as proud of you now as you were of me then! You have accomplished so much in your lifetime, and have helped a countless number of people. You left me quite the shoes to fill!! I will do my best. I know you'll be right here with me guiding me and showing me just like you have from day one!</p>
        <p>It's so different with you not here anymore... It hurts so much when I think about you, I smile, but it turns into a tear instantly.. When I found out you were gone, I hugged my steering wheel in my car for almost an hour.. I think I just wished it were you.. I want to call you all the time, I want to hear your voice, I want you to teach me something new, I want you back... but I can't do that.. so I'll make you proud! I've been working on WideSpread... my "project" that I started, that would make your online and technical life a 100 times easier... WideSpread was, is, and always will be, in your honor Ole Man..</p>
        <p>I loved life with you in it.. It seems so empty without you. I hope wherever you are, that you're okay and that you know how much I love you!</p>
        <p></p>
        <p>Love forever,</p>
        <p>Junior</p>
    </div>
    <div id="memories">


        <div class="memory-slider-container">

        <div class="memory-slider">
            <ul>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>


        <div class="memory-slider-container">

        <div class="memory-slider">
            <ul>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>


        <div class="memory-slider-container">

        <div class="memory-slider">
            <ul>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>



    </div>
    <div id="journal">
        <div class="journal-entry">
            <div class="date">
                <p>Sunday, June 21st 2020</p>
            </div>
            <div class="entry">
                <p>Hey Ole Man!!!</p>
                <p>It's been a rough past few weeks without you... It's not the same without you.</p>
                <p>Today's Fathers Day! Happy Fathers Day Ole Man!!! I really missed you today.. we were unstoppable together. Not much new since the last time we talked.. I flew down to Ma on Mothers Day... I got the last flight to make sure she wasn't alone, you were always there, and you always made sure I was! When I found out you couldn't be with us anymore, I did exactly what you would've told me to do in that situation! I made it on time! Me and Ma spent a little over an hour together this Mothers Day... I wish it were that easy for this Fathers Day...</p>
                <p>I hope you're safe and happy. I hope you're okay and everything is what you wanted it to be. I hope I get to see you again.</p>
                <br>
                <br>
                <p>Love always,</p>
                <br>
                <p>Jr.</p>
            </div>
        </div>
    </div>
</div>
<div class="music-1">
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/270519058&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/thescript" title="TheScript" target="_blank" style="color: #cccccc; text-decoration: none;">TheScript</a> · <a href="https://soundcloud.com/thescript/if-you-could-see-me-now" title="If You Could See Me Now" target="_blank" style="color: #cccccc; text-decoration: none;">If You Could See Me Now</a></div>
</div>