<div class="main-heading">
    <div class="ole-man">
        <h1>David V. Olson</h1>
    </div>
</div>
<div class="celebration-menu">
    <div class="nav-menu">
        <ul>
            <li><a href="/celebration-life">Dave</a></li>
            <li><a href="/celebration-of-life/leann">LeAnn</a></li>
            <li><a href="/celebration-of-life/jonny">Jonny</a></li>
        </ul>
    </div>

</div>
<div class="celebration-container">
    <h2>Friends</h2>
    <div id="last-goodbyes">
        <div class="last-goodbyes-user-list">
    <li>
        <div class="last-goodbyes-user">
            <a href="/celebration-of-life/tommy">
                <h3>Tommy Espisito</h3>
            </a>
        </div>
    </li>

    <li>
        <div class="last-goodbyes-user">
            <a href="/celebration-of-life/fran">
                <h3>Fran Henri</h3>
            </a>
        </div>
    </li>

    <li>
        <div class="last-goodbyes-user">
            <a href="/celebration-of-life/nine-and-dine">
                <h3>9 & Dine Family</h3>
            </a>
        </div>
    </li>
</div>
</div>
<div class="add-new-memory">
    <h3>Add your favorite memories!</h3>
    <form action="/celebration-life/add-memory">
        <input type="text" name="memory-header" id="memoryHeader" placeholder="Name your memory">
        <textarea name="memory-data" id="memoryData" cols="50" rows="10" placeholder="Enter your memory here..."></textarea>
        <input type="file" name="memory-file" id="newMemoryImg" placeholder="Add your memory's image...">
        <input type="submit" value="Add Memory">
    </form>
</div>
<div id="memories">
    <div class="memory-post">
        <div class="memory-image">
            <img src="/user/profile/jonnyo1a.jpg" alt="Jonathan Olson">
        </div>
        <div class="memory-solid-board">

            <div class="memory-header">
                <h3>My dad visited me at school</h3>
            </div>
            <div class="memory-data">
                <p>I had a great time showing you and mom around Cambridge! Who ever thought your son would go to Harvard?!?</p>
            </div>
        </div>
    </div>
</div>
</div>
