<h1>Celebrations Home</h1>

<div class="page-nav">
    <ul>
        <li><a href="/celebrations/holidays">Holidays</a></li>
        <li><a href="/celebrations/birthday">Birthday</a></li>
        <li><a href="/celebrations/prom">Prom</a></li>
        <li><a href="/celebrations/graduation">Graduation</a></li>
        <li><a href="/celebrations/wedding">Wedding</a></li>
        <li><a href="/celebrations/anniversary">Anniversary</a></li>
        <li><a href="/celebrations/newborn">Newborn</a></li>
        <li><a href="celebrations/celebration-life">Celebration of Life</a></li>
    </ul>
</div>