<div class="cob-container">

<div class="cob-menu">
    <div class="cob-page-title">

        <h1>Celebration of Life</h1>
    </div>
    <div class="cob-header">

        
        <h2 style="text-align: center; font-size: 22px;">In Honor of</h2>
        
        <h1>David Victor Olson</h1>
    </div>
</div>

<div id="last-goodbyes">
    <div class="last-goodbyes-user-list">
        <ul>
            <li>
                <div class="last-goodbyes-user">
                    <a href="/celebration-of-life/leann">
                        <h3>LeAnn Olson</h3>
                    </a>
                </div>
            </li>
            <li>
                <div class="last-goodbyes-user">
                    <a href="/celebration-of-life/jonny">
                        <h3>Jonathan D. Olson</h3>
                    </a>
                </div>
            </li>
            <li>
                <div class="last-goodbyes-user">
                    <a href="/celebration-of-life/friends">
                        <h3>Friends</h3>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</div>




<!-- Main Image Gallery -->

<div class="spread-row-header">
    <h1>Photo Memories</h1>
</div>


<div class="spread-row">
    <div class="spread-column-header">
        <h2>Just Dave</h2>
    </div>
    <div class="spread-column-container">
        <div class="spread-column">
            <img src="/celebration-of-life/ole-man_golf_tee-off_wave-hello_1a1a1a.jpg" alt="Waving Hello :)">
            <img src="/celebration-of-life/costa-rica_zip-line.jpg">
            <img src="/profile/olson_david_v_1a/german-band_trumpet-dockside_1a1a1a.jpg">
            <img src="/celebration-of-life/ole-man+piella_1a1a1a.jpg">
            <img src="/celebration-of-life/ole-man+lobsters_1a1a1a.jpg">
            <img src="/celebration-of-life/ole-man_band_pre-concert_1a1a1a.jpg">
            <img src="/celebration-of-life/dave/dave_1a7a1a.jpeg" alt="Dave playing solitaire">
            <img src="/profile/olson_david_v_1a/me-tommy_home_1a1a1a.jpg">
            <img src="/celebration-of-life/leann/dave+leann_italy_1a2a1a.jpg" alt="">
            <img src="/celebration-of-life/leann/dave+leann_italy_1a3a1a.jpg" alt="">
            <img src="/celebration-of-life/leann/dave+leann_italy_1a4a1a.jpg" alt="">
            <img src="/celebration-of-life/leann/dave+leann_italy_1a5a1a.jpg" alt="">
            <img src="/celebration-of-life/friends/dave+leann+bill+corey_tailgate_1a1a1a.jpg" alt="">
        <img src="/celebration-of-life/friends/dave+jim_1a1a1a.jpg" alt="">
        <img src="/celebration-of-life/dave/dave_1a6a1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a3a1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a4a1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a5a1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a8a1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a8b1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a8c1a.jpeg" alt="">
    </div>
</div>
<div class="spread-column-header">
<h2>Family Favorites</h2>
</div>
<div class="spread-column-container">
    <div class="spread-column">
        <img src="/celebration-of-life/leann/dave+leann_italy_1a4a1a.jpg" alt="">
        <img src="/celebration-of-life/costa-rica_zip-line.jpg">
        <img src="/profile/olson_david_v_1a/german-band_trumpet-dockside_1a1a1a.jpg">
        <img src="/celebration-of-life/ole-man_band_pre-concert_1a1a1a.jpg">
        <img src="/celebration-of-life/dave+leann_river_1a1a1a.jpg">
        <img src="/celebration-of-life/dave+leann_western_1a1a1a.jpg">
        <img src="/profile/olson_david_v_1a/me-jr-harvard_1a2a1a.jpg">
        <img src="/profile/olson_david_v_1a/me-jr-harvard_1a3a1a.jpg">
        <img src="/celebration-of-life/ole-man_golf_tee-off_wave-hello_1a1a1a.jpg" alt="Waving Hello :)">
        <img src="/celebration-of-life/leann/dave+leann_italy_1a2a1a.jpg" alt="">
        <img src="/celebration-of-life/leann/dave+leann_italy_1a3a1a.jpg" alt="">
        <img src="/celebration-of-life/leann/dave+leann_italy_1a5a1a.jpg" alt="">
        <img src="/celebration-of-life/friends/dave+leann+bill+corey_tailgate_1a1a1a.jpg" alt="">
        <img src="/celebration-of-life/friends/dave+jim_1a1a1a.jpg" alt="">
        <img src="/celebration-of-life/dave/dave_1a6a1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a3a1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a4a1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a5a1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a8a1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a8b1a.jpeg" alt="">
        <img src="/celebration-of-life/dave/dave_1a8c1a.jpeg" alt="">
    </div>
</div>
<div class="spread-column-header">
<h2>Best Friends</h2>
</div>
<div class="spread-column-container">
    <div class="spread-column">
        <img src="/celebration-of-life/dave+leann_river_1a1a1a.jpg">
        <img src="/celebration-of-life/ole-man+lola_1a1a1a.jpg">
        <img src="/profile/olson_david_v_1a/me-tommy_home_1a1a1a.jpg">
        <img src="/celebration-of-life/ole-man+ma_1a1a1a.jpg">
        <img src="/celebration-of-life/friends/dave+leann+ben-carson_1a1a1a.jpg">
        
        <img src="/celebration-of-life/dave_computer-phone_1a1a1a.jpg">
        <img src="/celebration-of-life/dave_computer-phone_1a2a1a.jpg">
        <img src="/celebration-of-life/dave_cooked-steak_1a2a1a.jpg">
        <img src="/celebration-of-life/outdoorsman/dave_clamming_1a1a1a.jpg">
        <img src="/celebration-of-life/family/dave+judy_1a1a1a.jpg">
        <img src="/celebration-of-life/family/dave+leeann+nancy_bunny-ears_kenobles_1a1a1a.jpg">
        <img src="/celebration-of-life/family/dave+bud+jim+leeann.jpg">
        <img src="/celebration-of-life/family/dave_thanksgiving_1a1a1a.jpg">
        <img src="/celebration-of-life/fran/dave+fran+jerry_jerrys-wedding_1a1a1a.jpg">
        <img src="/celebration-of-life/fran/dave+fran+jerry_jerrys-wedding_1a2a1a.jpg">
        <img src="/celebration-of-life/friends/dave_canoe_1a1a1a.jpg">
        <img src="/celebration-of-life/friends/dave_friends_1a1a1a.jpg">
        <img src="/celebration-of-life/friends/dave_hiking_1a1a1a.jpg">
        <img src="/celebration-of-life/friends/dave+ed_quad-through-window_1a1a1a.jpg">
        <img src="/celebration-of-life/friends/dave+greg_rocking-chairs-porch_1a1a1a.jpg">
        <img src="/celebration-of-life/friends/dave+jim_1a1a1a.jpg">
        <img src="/celebration-of-life/friends/dave+pete_1a1a1a.jpg">
    </div>
</div>
<div class="spread-column-header">
<h2>Playing Trumpet</h2>
</div>
<div class="spread-column-container">
    <div class="spread-column">
        <img src="/celebration-of-life/band/daily-sun_news-article_1a1a1a.jpeg" alt="Dave in his Band Concert">
        <img src="/celebration-of-life/band/shriners_truck_1a1a1a.jpg" alt="">
        <img src="/celebration-of-life/band/shriners_truck_1a2a1a.jpg" alt="">
        <img src="/celebration-of-life/band/trumpet_playing-basement_1a1a1a.jpg" alt="">
        <img src="/celebration-of-life/band/trumpet_playing-in-park_1a1a1a.jpg" alt="">
        <img src="/celebration-of-life/band/trumpet_playing-solo_1a1a1a.jpg" alt="">
        <img src="/celebration-of-life/band/trumpet_playing-solo_1a2a1a.jpg" alt="">
        <img src="/celebration-of-life/dave_concert_1a1a1a.jpg">
    </div>
</div>
<div class="spread-column-header">
<h2>Enjoying Life</h2>
</div>
<div class="spread-column-container">
    <div class="spread-column">
        <img src="/celebration-of-life/dave+leann_river_1a1a1a.jpg">
        <img src="/celebration-of-life/dave+jonny_harvard-widener_1a3a1a.jpg">
        <img src="/celebration-of-life/dave_solitare-score_1a1a1a.jpg">
        <img src="/celebration-of-life/dave_cooked-steak_1a1a1a.jpeg">
        <img src="/celebration-of-life/cromwell_ct_6_capilos_dr_birdseye_1a1a1a.jpg">
        <img src="/celebration-of-life/dave/dave_aruba_1a1a1a.jpg">
        <img src="/celebration-of-life/dave/dave_aruba_1a2a1a.jpg">
        <img src="/celebration-of-life/dave/dave_1a1a1a.jpg">
        <img src="/celebration-of-life/dave/dave_1a2a1a.jpg">
        <img src="/celebration-of-life/work/dave_raking-snow_1a1a1a.jpg">
        <img src="/celebration-of-life/work/dave_raking-snow_1a2a1a.jpg">
        <img src="/celebration-of-life/work/dave_building-wood-shed_1a1a1a.jpg">
        <img src="/celebration-of-life/work/dave_moving-wood-shed_1a1a1a.jpg">
        <img src="/celebration-of-life/work/dave_mixing-concrete_1a1a1a.jpg">
        <img src="/celebration-of-life/work/dave_painting-inside-laughing_1a1a1a.jpg">
        <img src="/celebration-of-life/work/dave_painting-outside_1a1a1a.jpg">
        <img src="/celebration-of-life/work/dave_tiling-bathtub_1a1a1a.jpg">
        <img src="/celebration-of-life/work/dave+ed_building-pool-gazebo_1a1a1a.jpg">
        <img src="/celebration-of-life/work/dave+ed_cutting-down-tree_1a1a1a.jpg">
        <img src="/celebration-of-life/work/dave+ed_moving-tool-shed_1a1a1a.jpg">
        <img src="/celebration-of-life/work/dave+ed_moving-wood-shed_1a1a1a.jpg">
     
        </div>
    </div>
    <div class="spread-column-header">
    <h2>Through the Years</h2>
    </div>
<div class="spread-column-container">
    <div class="spread-column">
        <img src="/celebration-of-life/dave/dave_class-picture_1a1a1a.jpg">
        <img src="/celebration-of-life/dave/dave_senior-picture_1a1a1a.jpg">
        <img src="/celebration-of-life/dave/dave_self-picture_1a1a1a.jpg">
        <img src="/celebration-of-life/dave/dave+his-childhood-dog_1a1a1a.jpg">
        <img src="/celebration-of-life/dave/dave_miami-beach_1a1a1a.jpg">
      <img src="/celebration-of-life/german_80s_1a1a1a.png">
      <img src="/celebration-of-life/german_80s_1a2a1a.png">
      <img src="/celebration-of-life/dave/dave_cabin-vt_1a1a1a.jpg">
      <img src="/celebration-of-life/dave/dave_cabin-vt_1a2a1a.jpg">
      <img src="/celebration-of-life/dave/dave_fun-at-party_1a1a1a.jpg">
      <img src="/celebration-of-life/dave/dave_german-clothes_1a1a1a.jpg">
      <img src="/celebration-of-life/dave/dave_just-had-a-baby_1a1a1a.jpg">
      <img src="/celebration-of-life/dave/dave_medival-toilet_1a1a1a.jpg">
      <img src="/celebration-of-life/dave/dave_on-staircase-posing_1a1a1a.jpg">
      <img src="/celebration-of-life/dave/dave_profile-pose_1a1a1a.jpg">
      <img src="/celebration-of-life/fun/dave_cheers-aruba-beach_1a1a1a.jpg">
      <img src="/celebration-of-life/fun/dave_cheers-aruba-band_1a1a1a.jpg">
      <img src="/celebration-of-life/fun/dave_eating-funny-face_1a1a1a.jpg">
      <img src="/celebration-of-life/dave/dave_side-porch-thinking_1a1a1a.jpg">
      <img src="/celebration-of-life/dave/dave+oscar_1a1a1a.jpg">
    </div>
</div>
  </div>


  <div id="we-love-you">
    <div class="we-love-you-message">
        <p style="text-align: center; font-size: 20px; padding-left: 20px;">WideSpread is for you Ole Man. I couldn't have wished for anything other than what you gave and showed me. You will always be remembered.</p>
    </div>
</div>

<div class="invitation">
    <h5>18 Holes in Honor of David V. Olson</h5>
    <h2>D.V.O. Classic</h2>
    <h3>Golf Tournament</h3>
    <br>
    <h4>Saturday, October 17th 2020</h4>
    <h4>3:00 P.M.</h4>
    <div class="event-link">
        <a href="/event/golf/dvo-classic">Join Us</a>
    </div>
</div>



<!-- First Draft Images -->
<!-- 
<div class="celebration-images">
    <ul>
        <li>
            <img style="background: black" src="/profile/olson_david_v_1a/german-band_trumpet-dockside_1a1a1a.jpg" alt="Dave Olson - Playing trumpet in his German band." style="margin-top: -150px;">
            <p>Playing his favorite music for everyone!</p>
        </li>

        <li>
            <img src="/profile/olson_david_v_1a/me-jr_harvard_1a1a1a.jpg" alt="Dave and Jonny at Jonny's school - Cambridge, MA">
            <p>Dave and Jonny outside of Widener Library, Harvard - Cambridge, MA</p>
        </li>

        <li>
            <img src="/profile/olson_david_v_1a/me-jr-harvard_1a2a1a.jpg" alt="Dave and Jonny at Jonny's school - Cambridge, MA">
            <p>Dave and Jonny in Harvard Yard - Cambridge, MA</p>
        </li>

        <li>
            <img src="/celebration-of-life/ole-man_golf_tee-off_wave-hello_1a1a1a.jpg" alt="Dave in a pose everyone that knew him, will always remember...">
            <p>Dave in a pose everyone that knew him, will always remember...</p>
        </li>
       

        <li>
            <img src="/celebration-of-life/ole-man+ma_1a1a1a.jpg" alt="Dave and LeAnn after a round of golf">
            <p>Dave and LeAnn after a round of golf</p>
        </li>
       

        <li>
            <img src="/celebration-of-life/ole-man+lola_1a1a1a.jpg" alt="Dave covered by a puppy Lola">
            <p>Dave covered by a puppy Lola</p>
        </li>
       

        <li>
            <img src="/celebration-of-life/ole-man+lobsters_1a1a1a.jpg" alt="Dave holding Lobsters getting ready to serve">
            <p>Dave holding Lobsters getting ready to serve</p>
        </li>
       

        <li>
            <img src="/celebration-of-life/ole-man+piella_1a1a1a.jpg" alt="Dave preparing his favorite party feast on the back patio in their home in The Villages, FL">
            <p>Dave preparing his favorite party feast, Paella!</p>
        </li>

        <li>
            <img src="/celebration-of-life/dave_leprechauns-stilts_1a1a1a.jpg" alt="">
            <p></p>
        </li>
       
        <li>
            <img src="/celebration-of-life/dave_computer-phone_1a2a1a.jpg" alt="">
            <p></p>
        </li>
       

        <li>
            <img src="/celebration-of-life/dave_computer-phone_1a1a1a.jpg" alt="">
            <p></p>
        </li>


        <li>
            <img src="/celebration-of-life/dave_rocking-chair_1a1a1a.jpg" alt="">
            <p></p>
        </li>
       

        <li>
            <img src="/celebration-of-life/dave_solitare-score_1a1a1a.jpg" alt="">
            <p></p>
        </li>
       

        <li>
            <img src="/celebration-of-life/dave_concert_1a1a1a.jpg" alt="">
            <p></p>
        </li>
       

        <li>
            <img src="/celebration-of-life/dave+jonny_harvard-widener_1a3a1a.jpg" alt="">
            <p></p>
        </li>
       

        <li>
            <img src="/celebration-of-life/dave+tommy_morning-coffee_1a1a1a.jpg" alt="">
            <p></p>
        </li>
        <li>
            <img src="/celebration-of-life/dave+leann_river_1a1a1a.jpg" alt="">
            <p></p>
        </li>
        <li>
            <img src="/celebration-of-life/lola_golf-cart_1a1a1a.jpg" alt="">
            <p></p>
        </li>
        <li>
            <img src="/celebration-of-life/ole-man_band_pre-concert_1a1a1a.jpg" alt="">
            <p></p>
        </li>
        <li>
            <img src="/celebration-of-life/german_80s_1a1a1a.png" alt="">
            <p></p>
        </li>
       
        <li>
            <img src="/celebration-of-life/dave__1a1a1a.jpg" alt="">
            <p></p>
        </li>
       
        <li>
            <img src="/celebration-of-life/dave__1a1a1a.jpg" alt="">
            <p></p>
        </li>
       
        <li>
            <img src="/celebration-of-life/dave__1a1a1a.jpg" alt="">
            <p></p>
        </li>
       
        <li>
            <img src="/celebration-of-life/dave__1a1a1a.jpg" alt="">
            <p></p>
        </li>
       

    </ul>
</div> -->

</div>