<h1>Celebration of Life</h1>

<h2 style="text-align: center; font-size: 22px;">In Honor of</h2>

<h1>David Victor Olson</h1>

<p style="text-align: center; font-size: 20px;">WideSpread is for you Ole Man. I couldn't have wished for anything other than what you gave and showed me. You will always be remembered.</p>
<div class="celebration-images">
    <ul>
        <li>
            <img src="/profile/olson_david_v_1a/german-band_trumpet-dockside_1a1a1a.jpg" alt="Dave Olson - Playing trumpet in his German band." style="margin-top: -150px;">
            <p>Playing Trumpet with the German Band - The Villages, FL</p>
        </li>

        <li>
            <img src="/profile/olson_david_v_1a/me-jr_harvard_1a1a1a.jpg" alt="Dave and Jonny at Jonny's school - Cambridge, MA">
            <p>Dave and Jonny outside of Widener Library, Harvard - Cambridge, MA</p>
        </li>

        <li>
            <img src="/profile/olson_david_v_1a/me-jr-harvard_1a2a1a.jpg" alt="Dave and Jonny at Jonny's school - Cambridge, MA">
            <p>Dave and Jonny in Harvard Yard - Cambridge, MA</p>
        </li>

        <li>
            <img src="/profile/olson_david_v_1a/me-jr-harvard_1a3a1a.jpg" alt="Dave and Jonny at Jonny's school - Cambridge, MA">
            <p>Dave and Jonny outside of Widener Library, Harvard - Cambridge, MA</p>
        </li>

    </ul>
</div>