<div class="cob-container">

<div class="cob-menu">
    
    <h1>Celebration of Life</h1>
    <div class="cob-header">

        
        <h2 style="text-align: center; font-size: 22px;">In Honor of</h2>
        
        <h1>David Victor Olson</h1>
    </div>
</div>

<p style="text-align: center; font-size: 20px; padding-left: 20px;">WideSpread is for you Ole Man. I couldn't have wished for anything other than what you gave and showed me. You will always be remembered.</p>
<div class="celebration-images">
    <ul>
        <li>
            <img style="background: black" src="/profile/olson_david_v_1a/german-band_trumpet-dockside_1a1a1a.jpg" alt="Dave Olson - Playing trumpet in his German band." style="margin-top: -150px;">
            <p>Playing his favorite music for everyone!</p>
        </li>

        <li>
            <img src="/profile/olson_david_v_1a/me-jr_harvard_1a1a1a.jpg" alt="Dave and Jonny at Jonny's school - Cambridge, MA">
            <p>Dave and Jonny outside of Widener Library, Harvard - Cambridge, MA</p>
        </li>

        <li>
            <img src="/profile/olson_david_v_1a/me-jr-harvard_1a2a1a.jpg" alt="Dave and Jonny at Jonny's school - Cambridge, MA">
            <p>Dave and Jonny in Harvard Yard - Cambridge, MA</p>
        </li>

        <li>
            <img src="/celebration-of-life/ole-man_golf_tee-off_wave-hello_1a1a1a.jpg" alt="Dave in a pose everyone that knew him, will always remember...">
            <p>Dave in a pose everyone that knew him, will always remember...</p>
        </li>
       

        <li>
            <img src="/celebration-of-life/ole-man+ma_1a1a1a.jpg" alt="Dave and LeAnn after a round of golf">
            <p>Dave and LeAnn after a round of golf</p>
        </li>
       

        <li>
            <img src="/celebration-of-life/ole-man+lola_1a1a1a.jpg" alt="Dave covered by a puppy Lola">
            <p>Dave covered by a puppy Lola</p>
        </li>
       

        <li>
            <img src="/celebration-of-life/ole-man+lobsters_1a1a1a.jpg" alt="Dave holding Lobsters getting ready to serve">
            <p>Dave holding Lobsters getting ready to serve</p>
        </li>
       

        <li>
            <img src="/celebration-of-life/ole-man+piella_1a1a1a.jpg" alt="Dave preparing his favorite party feast on the back patio in their home in The Villages, FL">
            <p>Dave preparing his favorite party feast, Paella!</p>
        </li>

        <li>
            <img src="/celebration-of-life/dave_leprechauns-stilts_1a1a1a.jpg" alt="">
            <p></p>
        </li>
       
        <li>
            <img src="/celebration-of-life/dave_computer-phone_1a2a1a.jpg" alt="">
            <p></p>
        </li>
       

        <li>
            <img src="/celebration-of-life/dave_computer-phone_1a1a1a.jpg" alt="">
            <p></p>
        </li>


        <li>
            <img src="/celebration-of-life/dave_rocking-chair_1a1a1a.jpg" alt="">
            <p></p>
        </li>
       

        <li>
            <img src="/celebration-of-life/dave_solitare-score_1a1a1a.jpg" alt="">
            <p></p>
        </li>
       

        <li>
            <img src="/celebration-of-life/dave_concert_1a1a1a.jpg" alt="">
            <p></p>
        </li>
       

        <li>
            <img src="/celebration-of-life/dave+jonny_harvard-widener_1a3a1a.jpg" alt="">
            <p></p>
        </li>
       

        <li>
            <img src="/celebration-of-life/dave+tommy_morning-coffee_1a1a1a.jpg" alt="">
            <p></p>
        </li>
        <li>
            <img src="/celebration-of-life/dave+leann_river_1a1a1a.jpg" alt="">
            <p></p>
        </li>
        <li>
            <img src="/celebration-of-life/lola_golf-cart_1a1a1a.jpg" alt="">
            <p></p>
        </li>
        <li>
            <img src="/celebration-of-life/ole-man_band_pre-concert_1a1a1a.jpg" alt="">
            <p></p>
        </li>
        <li>
            <img src="/celebration-of-life/dave__1a1a1a.jpg" alt="">
            <p></p>
        </li>
       

    </ul>
</div>

</div>