<div class="main-heading">
    <h1>David V. Olson</h1>
</div>
<div class="celebration-menu">
    <div class="nav-menu">
        <ul>
            <li><a href="/celebration-life">Dave</a></li>
            <li><a href="/celebration-of-life/leann">LeAnn</a></li>
            <li><a href="/celebration-of-life/jonny">Jonny</a></li>
            <li><a href="/celebration-of-life/tommy">Tommy</a></li>
            <li><a href="/celebration-of-life/fran">Fran</a></li>
        </ul>
    </div>
    <div class="widespread-link">
        <ul>
            <li><a href="/dashboard">WideSpread</a></li>
        </ul>
    </div>
</div>
<div class="celebration-container">
    <div class="celebration-header">
        <h1>The 9 & Dine Family</h1>
        <h2>An amazing group of people Dave had the pleasure of spending time with playing golf and having fun with.</h2>
    </div>
    <div id="group-celebration-goodbye">

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Evelyn</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Juice</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Maralyn Walhstrom</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Rick Walhstrom</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Brenda</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Ron</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Corey Boswell</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Bill Boswell</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Chris</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Chris Husband</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Denise Walhstrom</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3>Jim Walhstrom</h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3></h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3></h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

        <div class="group-member">
            <div class="member-top">

                <div class="member-photo">
                    <img src="" alt="">
                </div>
                <div class="member-name">
                    <h3></h3>
                </div>
            </div>
            <div class="member-bottom">

                <div class="member-goodbye">
                    <h3>Number 1 thing you wish to say to him...</h3>
                    <p>Paragraph</p>
                </div>
            </div>            
        </div>

    </div>
    <div id="memories">


        <div class="memory-slider-container">

        <div class="memory-slider">
            <ul>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>


        <div class="memory-slider-container">

        <div class="memory-slider">
            <ul>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>


        <div class="memory-slider-container">

        <div class="memory-slider">
            <ul>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>



    </div>
</div>