<div class="main-heading">
    <h1>David V. Olson</h1>
</div>
<div class="celebration-menu">
    <div class="nav-menu">
        <ul>
            <li><a href="/celebration-life">Dave</a></li>
            <li><a href="/celebration-of-life/leann">LeAnn</a></li>
            <li><a href="/celebration-of-life/jonny">Jonny</a></li>
            <li><a href="/celebration-of-life/tommy">Tommy</a></li>
            <li><a href="/celebration-of-life/nine-and-dine">9 & Dine</a></li>
        </ul>
    </div>
    <div class="widespread-link">
        <ul>
            <li><a href="/dashboard">WideSpread</a></li>
        </ul>
    </div>
</div>
<div class="celebration-container">
    <div class="celebration-header">
        <h1>Fran Henry</h1>
        <h2>Daves Good Friend</h2>
        <h4>Cromwell, CT</h4>
    </div>
    <div id="celebration-goodbye">
        <h3>Number 1 thing you wish to say to him...</h3>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
        <p>Paragraph 3</p>
        <p>Paragraph 4</p>
        <p>Paragraph 5</p>
    </div>
    <div id="memories">


        <div class="memory-slider-container">

        <div class="memory-slider">
            <ul>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>


        <div class="memory-slider-container">

        <div class="memory-slider">
            <ul>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>


        <div class="memory-slider-container">

        <div class="memory-slider">
            <ul>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
                <li>
                    <div class="memory-card">
                        <div class="memory">
                            <img src="" alt="">
                        </div>
                        <div class="memory-text"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>



    </div>
</div>