<div class="top-spread-menu">
    <div class="spread-bar">
  
      <div class="search">
        <input type="text" placeholder="What can we help you find?"><button>Search</button>
      </div>
  <div class="spreadbar-icons">
  
    <div class="main-icon">
      <a href="/dashboard">
          <img height="40px" width="40px" src="/icons/home.png" alt="Home">
        </a>
      </div>
      <div class="main-icon">
        <a href="/messaging">
          <img height="40px" width="40px" src="/icons/alerts.png" alt="Home">
        </a>
      </div>
    </div>
    </div>
    <ul>
      
      
      <li><a class="covid-link" href="/covid-ar">COVID-AR</a></li>
      <li><a href="/socialspread">SocialSpread</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/storage">Storage</a></li>
    </ul>
  </div>


<ul>
    <li>Math</li>
    <li>Science</li>
    <li>English</li>
    <li>History</li>
    <li>Arts/Music</li>
    <li>Reading</li>
</ul>

<div class="class-subject-card">
    <div class="class-subject-card-header">
        <h2 style="font-size: 32px; text-align: center;">Math</h2>
    </div>
    <div class="class-subject-card-body">
        <div class="current-class">
            <h3 style="font-size: 22px; text-align: center;">Current Class:</h3>
            <span id="currentClass"></span>
        </div>
        <div id="classHistory"></div>
        <div id="classAttendance"></div>
        <div id="currentGrade"></div>
    </div>
    <div class="class-subject-card-footer"></div>
</div>