<div class="graduation-header">

    <div class="spreadUser-data-bar">
        <div id="spreadUser-img">
            <img src="/graduation/larruay_milai_1a1a1a.jpg" alt="Milai Larruay">
        </div>
        <div id="spreadUser-data">
            <div id="spreadUser-name"><h3>Milai Larruay</h3></div>
            <div id="spreadUser-role"><h4>Graduate</h4></div>
            <div id="spreadUser-utils">
                <ul>
                    <li>Class VR</li>
                    <li>High Honors</li>
                    <li>Scholarship to Uconn</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="school-data">
        <div id="school-logo">
            <img src="/graduation/logos/usa_ct_cromwell__panther/logo_panther_1a1a1a.png" alt="Cromwell High Panther Logo">
        </div>
        <div id="school-name"><h1>Cromwell High School</h1></div>
    </div>
    <div id="current-data__visual-tag">
        <div id="targetUser-header"></div>
        <div id="targetUser-description"></div>
        <div id="targetUser-name"></div>
        <div id="targetUser-role"></div>
        <div id="targetUser-connections">
        <div id="targetUser-connections-slider">

            <ul>
                <li>User 234423</li>
                <li>User 225498</li>
                <li>User 438423</li>
                <li>User 4534417</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
                <li>User 734438</li>
            </ul>
        </div>
        </div>
        <div id="targetUser-bio">User bio goes here - Elevator Pitch, with expandable extensive bio/resume.</div>
        <div id="targetUser-img"></div>
    </div>
</div>

<!-- Livestream Video -->
<div id="main-livestream-container">
    <div id="main-stream">
        <img src="/graduation/background/stage_cromwell-high_1a1a1a.jpg" alt="Cromwell High School">
        <video src=""></video>
    </div>
    <div class="widespread-link-container">
        <div class="main-link">
            <p><a href="https://widespread.world">Enter VR</a></p>
        </div>
    </div>
    <div id="main-stream-data">
        <div id="main-stream-header">
            <h2>Welcome to the 2020 Inaugural Virtual Senior Class Graduation</h2>
            <h4>Embracing Life, Advancing Civilization</h4>
        </div>
    </div>

</div>

<!-- <h1>Class of 2020</h1>
<h2>GradVRtion</h2> -->

<div id="spreadUser-spreadMenu"></div>