<h1>Contacts/Address Book</h1>

<ul>
    <li>
        <a href="tel:3524468043">

            <div class="contact">
                <div class="image">
                    <img src="/public/socialspread/social-icon_set_1a1a1a.png" alt="">
                </div>
                <div class="contact-name"></div>
                <div class="contact-options"></div>
            </div>
        </a>
        </li>

    <li>
        <a href="">

            <div class="contact">
                <div class="image"></div>
                <div class="contact-name"></div>
                <div class="contact-options"></div>
            </div>
        </a>
        </li>

    <li>
        <a href="">

            <div class="contact">
                <div class="image"></div>
                <div class="contact-name"></div>
                <div class="contact-options"></div>
            </div>
        </a>
        </li>


    </ul>