<h1>Contacts/Address Book</h1>

<ul>
    <li>
        
        <div class="contact">
            <a href="tel:3524468043">
                <div class="contact-list-image">
                    <img src="/site/icon_default-user_1a.png" alt="Default User Avatar">
                </div>
            </a>
                <div class="contact-name">
                    <p>Jonny O.</p>
                </div>
                <div class="contact-options">
                    <form action="">
                        <select name="connection-type" id="connectionType">
                            <option value="Cell">Cell</option>
                            <option value="Home">Phone</option>
                            <option value="Email Personal">e-mail</option>
                            <option value="Email Business">e-work</option>
                        </select>
                    </form>
                </div>
            </div>
        </li>

    <li>
        <a href="">

            <div class="contact">
                <div class="image"></div>
                <div class="contact-name"></div>
                <div class="contact-options"></div>
            </div>
        </a>
        </li>

    <li>
        <a href="">

            <div class="contact">
                <div class="image"></div>
                <div class="contact-name"></div>
                <div class="contact-options"></div>
            </div>
        </a>
        </li>


    </ul>