<!-- SpreadMenu - NEED PARTIAL -->

<div class="top-spread-menu">
    <div class="spread-bar">
      <div class="search">
        <input type="text" placeholder="What can we help you find?"><button>Search</button>
      </div>
  
      <div class="spreadspace">
        <a href="/spreadspace">SpreadSpace</a>
      </div>
<!--       <div class="home-icon">
        <a href="/dashboard">
          <img height="50px" width="50px" src="../public/icons/home.png" alt="Home">
        </a>
      </div> -->
    </div>
    <ul>
      
      
      <li><a class="covid-link" href="/covid-ar">COVID-AR</a></li>
      <li><a href="/socialspread">SocialSpread</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/storage">Storage</a></li>
    </ul>
  </div>
  
  <!-- SpreadMenu - NEED PARTIAL -->

<h1>Here is a map of any confirmed cases in your immediate area.</h1>
<div class="covid-map">
    <div id="map"></div>
</div>