<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome</p>
<p>First Name</p>
<p>Last Name</p>
<p>Profession</p>
<h3>Skill Box</h3>
<h3>Location:</h3>
<h3>geoNotes:</h3>
<h3>geoMoments:</h3>
<h6>
  (Attach ratings, reviews, images, attach 360 SpreadStreams, Panoramic 3D-Image
  Points in SpaceTime)
</h6>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="https://widespread.world/ar-spread" class="btn btn-secondary"
  >GeoNote</a
>
<a href="https://widespread.world" class="btn btn-secondary">Enter VR</a>
