
<h1 class="mt-4">Dashboard</h1>


<div id="output"></div>

<div class="zone-portal">
  <div class="floor-one">
    <ul>
      <li><a href="/academy">Academy</a></li>
      <li><a href="/business">Business</a></li>
      <li><a href="/shopping">Shopping</a></li>
      <li><a href="/leisure">Leisure</a></li>
      <li><a href="/graduation">Graduation</a></li>
      <li><a href="/prom">Prom</a></li>
    </ul>
  </div>
  <div class="floor-two">
    <ul>
      <li><a href="/financial">Financial</a></li>
      <li><a href="/medical">Medical</a></li>
      <li><a href="/event">Events</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/celebration-life">Celebration of Life</a></li>
    </ul>
  </div>
</div>

<!-- Coming Soon -->
<div class="coming-soon-header">
  <h1>Coming Soon</h1>
</div>
<div class="dashboard-card">
  <h1><a href="/spreadshield">SpreadShield</a></h1>
  <div class="dashboard-image">
    <img src="/spreadshield/tests/ws_spreadshield_test_1a1a1a.jpg" alt="">
    <img src="/spreadshield/tests/ws_spreadshield_test_contacts-list+facial-recognition-start+welcome-screen+phone-dialer_1a1a1a.png" alt="">
  </div>
</div>
<div class="dashboard-card">
  <h1><a href="/spreadshield-control">SpreadShield Touchscreen Controller</a></h1>
  </div>
</div>

<div class="dashboard-card">
  <h1><a href="/flexfloor">FlexFloor</a></h1>
  <div class="dashboard-image">
    <img src="/flexfloor/plans/ws_home-flexfloor_plan_1a2a1a.jpg" alt="FlexFloor Floor Plan">
    <img src="/flexfloor/plans/ws_home-flexfloor_plan_1a10a1a.png" alt="FlexFloor Floor Plan">
    <img src="/flexfloor/plans/ws_home-flexfloor_plan_1a5a1a.png" alt="FlexFloor Floor Plan">
  </div>
</div>


<div class="contacts-list">



</div>

<div class="footer">

  <a href="/users/logout" class="btn btn-secondary">Logout</a>
  <a href="https://widespread.world/ar-spread" class="btn btn-secondary"
  >Enter AR</a
  >
  <a href="https://widespread.world" class="btn btn-secondary">Enter VR</a>
</div>
  

