<h1>Division</h1>
<div class="list-nav">
    <ul>
        <li><a href="/academy/math/division/learning-to-divide">Learning to Divide</a></li>
        <li><a href="/academy/math/division/real-life-division">Real-Life Division</a></li>
        <li><a href="/academy/math/division/dividing-bigger-numbers">Dividing Bigger Numbers</a></li>
    </ul>
</div>