<div class="golf-tournament-container">
    <div class="tournament-header">
        <h2>DVO Classic</h2>
        <h1>Golf Tournament</h1>
    </div>
    <div class="golf-course">
        <img src="/site/golf_hunters-gc_1a1a1a.webp" alt="">
    </div>
    <div class="course-overview">
        <h3>Hey there!</h3>
        <img src="/celebration-of-life/ole-man_golf_tee-off_wave-hello_1a1a1a.jpg" alt="">
        <h3>18th Hole - View from the Outdoor Bar</h3>
        <img src="/entertainment/golf/hunters_hole_18_1a1a1a.png" alt="18th Hole at Hunters Golf Course - Meriden, CT">
        <h3>Scorecard</h3>
        <img src="/site/golf_ct_meriden_hunter_2a1a1a.webp" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    
</div>