<h1>Fitness Home</h1>

<div class="page-nav">
    <ul>
        <li><a href="">Stretching</a></li>
        <li><a href="">Cardio</a></li>
        <li><a href="">Core</a></li>
        <li><a href="">Chest</a></li>
        <li><a href="">Shoulders</a></li>
        <li><a href="">Arms</a></li>
        <li><a href="">Legs</a></li>
    </ul>
</div>