<h1>Games Home</h1>

<div class="breadcrumbs-container">

    <a href="/leisure">Back to Leisure</a>
</div>
<br>
<div class="games-list">

    <a href="/leisure/games/demolition-ranch">
        <div class="game-list-item-backdrop">
            <img src="/leisure/games/demolition-ranch/banner_header_name+5-shotgun-shells_1a1a1a.png" alt="">
        </div>
        <div class="game-list-item-data">

            <p>Demolition Ranch</p>
            <span class="go">Go!</span>
            <table>
                <tr>
                    <td>Ages 12+</td>
                    <td>Firearms</td>
                    <td>Violence</td>
                    <td>Zombies</td>
                    <td>Aliens</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="/leisure/games/demolition-ranch">
        <div class="game-list-item-backdrop">
            
        </div>
        <div class="game-list-item-data">

            <p>Mario AR</p>
            <span class="go">Go!</span>
            <table>
                <tr>
                    <td>Ages 6+</td>
                    <td>Worldwide Playground</td>
                    <td>Fitness</td>
                    <td>Physical</td>
                    <td>Fun</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="/leisure/games/demolition-ranch">
        <div class="game-list-item-backdrop">
            
        </div>
        <div class="game-list-item-data">

            <p>Star Wars AR</p>
            <span class="go">Go!</span>
            <table>
                <tr>
                    <td>Ages 12+</td>
                    <td>Lightsabers</td>
                    <td>Firearms</td>
                    <td>Language</td>
                    <td>Violence</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="/leisure/games/bubble-guppies-ar">
        <div class="game-list-item-backdrop">
            
        </div>
        <div class="game-list-item-data">

            <p>Bubble Guppies AR</p>
            <span class="go">Go!</span>
            <table>
                <tr>
                    <td>All Ages</td>
                    <td>Fun</td>
                    <td>Educational</td>
                    <td>Exploration</td>
                    <td>Activities</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="/leisure/games/golf-ar">
        <div class="game-list-item-backdrop">
            
        </div>
        <div class="game-list-item-data">

            <p>Golf AR</p>
            <span class="go">Go!</span>
            <table>
                <tr>
                    <td>All Ages</td>
                    <td>Fitness</td>
                    <td>Wellness</td>
                    <td>Focus</td>
                    <td>Competition</td>
                </tr>
            </table>
        </div>
    </a>
    <a href="/leisure/games/GAME-NAME">
        <div class="game-list-item-backdrop">
            <img src="/leisure/games/demolition-ranch/banner_header_name+5-shotgun-shells_1a1a1a.png" alt="">
        </div>
        <div class="game-list-item-data">

            <p>GAME_NAME</p>
            <span class="go">Go!</span>
            <table>
                <tr>
                    <td>Ages </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </a>

</div>