<h1>Golf</h1>

<div class="tournament-schedule">
<ul>
<li>
    <div class="list-name">
        <h3>D.V.O. Classic</h3>
        <p>In rememberance of Dave Olson</p>
    </div>
    <div class="list-link">
        <a href="/event/golf/dvo-classic">Go</a>
    </div>
</li>
<li>
    <div class="list-name">
        <h3>DVO Classic</h3>
        <p>In rememberance of Dave Olson</p>
    </div>
    <div class="list-link">
        <a href="/event/golf/dvo-classic">Go</a>
    </div>
</li>
</ul>
</div>