<div class="grad-welcome-header">

    
    <h3>Welcome</h3>
    <h5>to the</h5>
    <div class="event-name">
        
        <h2>2020 Graduation Ceremony</h2>
    </div>
    <h5>for</h5>
    <h1>Cromwell High School</h1>
</div>

<div class="grad-enter-type">
    <div class="viewing-types-container">
        <ul>
            <li>
                <div class="view-type-option">
                    <div class="view-type-img">
                        <img src="/system/viewing/cellphone_1a1a1a.png" alt="All Screen Types">
                    </div>
                    <h4>2D Screen</h4>
                    <p>Cell Phone, Tablet</p>
                    <a href="/graduation/class"><button>Enter 2D</button></a>
                </div>
            </li>
            <li>
                <div class="view-type-option">
                    <div class="view-type-img">
                        <img src="/system/viewing/screens_1a1a1a.png" alt="All Screen Types">
                    </div>
                    <h4>2D Screen</h4>
                    <p>Cell Phone, Laptop, TV Screen</p>
                    <a href="/graduation/class-screen"><button>Enter 2D</button></a>
                </div>
            </li>
            <li>
                <div class="view-type-option">
                    <h4>VR</h4>
                    <p>Side-by-Side VR Headset</p>
                    <a href="/graduation/class-vr"><button>Enter VR 3D</button></a>
                </div>
            </li>
            <li>
                <div class="view-type-option">
                    <h4>AR</h4>
                    <p>Cell Phone, Microsoft HoloLens, SpreadShield</p>
                    <a href="/graduation/class-ar"><button>Enter AR 3D</button></a>
                </div>
            </li>
        </ul>
    </div>
</div>