<h1 class="mt-4">Help</h1>
<p class="lead mb-3">Topics:</p>
<p>What is WideSpread?</p>
<p>How do I use WideSpread?</p>
<p>What can I do with WideSpread?</p>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="https://widespread.world/ar-spread" class="btn btn-secondary"
  >GeoNote</a
>
<a href="https://widespread.world" class="btn btn-secondary">Enter VR</a>
<div class="jumbotron">
  <textarea
    name="write_message"
    id="write_message"
    class="form-control"
    cols="30"
    rows="10"
    placeholder="Enter a message..."
  ></textarea>
  <button id="send_message" class="success">Send</button>
</div>
<div id="new_messages"></div>
