<h1>HTML</h1>

<h3>What is HTML?</h3>

<div class="paragraph">

    <p>HTML is the standard markup language for creating Web pages.</p>
</div>

<div class="overview-video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UB1O30fR-EE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="academy-list">

    <ul>
        <li>HTML stands for Hyper Text Markup Languange</li>
    <li>HTML describes the structure of a Web page</li>
    <li>HTML consists of a series of elements</li>
    <li>HTML elements tell the browser how to display the content</li>
    <li>HTML elements are represented by tags</li>
    <li>HTML tags label pieces of content such as heading, paragraph, table etc.</li>
    <li>Browsers do not display the HTML tags, but use them to render the content of the page</li>
</ul>
</div>