<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="5sb7wDuHomWcznqcG_a-X704L3Rc88LQRdnpbQGOFR4" />
    <title>WideSpread</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/style/style.css">
    <style>
      html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
      body {
        background: black;
        color: white;
        padding-top: 80px;
      }
      .zone-portal {
        background-image: linear-gradient(to top right, rgba(54, 52, 52, 0.452), rgba(71, 69, 64, 0.548), rgba(75, 71, 71, 0.295), rgba(84, 119, 143, 0.212), rgba(66, 118, 230, 0.384), transparent);
        padding: 5px;
        font-size: 24px;
        border: groove 2px white;
        border-radius: 8px;
      }
      .floor-one {
        width: 100%;
        height: 50px;
        color: white;
      }
      .floor-two {
        width: 100%;
        height: 50px;
        color: white;
      }
      .floor-one li {
        padding-top: 5px;
        width: 25%;
        float: left;
        list-style: none;
        height: 50px;
        cursor: pointer;
      }
      .floor-two li {
        padding-top: 5px;
        list-style: none;
        width: 25%;
        float: left;
        height: 50px;
        cursor: pointer;
      }
      .floor-one, .floor-two {
        text-align: center;
      }
      /* Top Spread Menu */
      .top-spread-menu {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        border-bottom: groove 2px white;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.568);
      }
      .top-spread-menu li {
        width: 25%;
        float: left;
        text-align: center;
      }
      .top-spread-menu a {
        width: 25%;
        float: left;
      }
      /* SpreadBar */
      .spread-bar {
        background: rgba(255, 255, 255, 0.315);
        width: 100%;
        height: 50px;
      }
      .home-icon {
        width: 5%;
        height: 50px;
        border-radius: 50%;
       float: left;
        box-shadow: 0 0 2px black;
      }
      .home-icon:hover {
        box-shadow: 0 0 4px white;
      }
      .search {
        padding-top: 5px;
        width: 80%;
        float: left;
      }
      .search input {
        height: 38px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-left: 10px;
        width: 70%;
      }
      .search button {
        height: 38px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 30%;
      }
      #user_inventory {
        width: 10%;
        background: lime;
        float: left;
      }
      .spreadspace {
        width: 20%;
        float: left;
        text-align: center;
      }
      .spreadspace a {
        color: white;
        font-size: 18px;
        line-height: 50px;
      }
      .spreadspace a:hover {

        text-decoration: none;
      }
    
      .top-spread-menu li {
        text-align: center;
        list-style: none;
        width: 25%;
      }
      .top-spread-menu li a {
        width: 100%;
        text-align: center;
        font-size: 22px;
      }
      .top-spread-menu li a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: aqua
      }
      .covid-header {
        width: 100%;
        height: 40px;
        background:  red;
      }
      .covid-header h1 {
        width: 100%;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        margin-top: 10px;
      }
      .covid-link {
        color: red;
        text-shadow: 0 0 1px #fff;
      }
      .covid-map {
        width: 100vw;
        height: 100vw;
      }
      #map {
        height: 100%;
        width: 100%;
        z-index: 0;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%- body %>
    </div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: new google.maps.LatLng(42.3737591, -71.116534),
          mapTypeId: 'terrain'
        });

        // Create a <script> tag and set the USGS URL as the source.
    /*     var script = document.createElement('script');
        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
        script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      // Loop through the results array and place a marker for each
      // set of coordinates.
      window.eqfeed_callback = function(results) {
        for (var i = 0; i < results.features.length; i++) {
          var coords = results.features[i].geometry.coordinates;
          var latLng = new google.maps.LatLng(coords[1],coords[0]);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        } */
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

// Add some markers to the map.
// Note: The code uses the JavaScript Array.prototype.map() method to
// create an array of markers based on a given "locations" array.
// The map() method here has nothing to do with the Google Maps API.
var markers = locations.map(function(location, i) {
  return new google.maps.Marker({
    position: location,
    label: labels[i % labels.length],
    map:map
  });
});

// Add a marker clusterer to manage the markers.
var markerCluster = new MarkerClusterer(map, markers,
    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
}
var locations = [
{lat: 41.604251, lng: -72.680543},
{lat: 41.604412, lng: -72.679807}
]
</script>
<!-- Replace following script src -->
<script src="/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ42MPk0Ua5QMFU_YLM1X_yoF6LVKTpPw&callback=initMap">
</script>
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ42MPk0Ua5QMFU_YLM1X_yoF6LVKTpPw&callback=initMap">
    </script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
