<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="5sb7wDuHomWcznqcG_a-X704L3Rc88LQRdnpbQGOFR4" />
    <title>WideSpread</title>
    
    <script src="ejs.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Gruppo|Italianno|Megrim|Syncopate"
        rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/style/style.css">
    <style>
      html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* Fonts used in WideSpread */
/*
font-family: 'Italianno', cursive;
font-family: 'Syncopate', sans-serif;
font-family: 'Gruppo', cursive;
font-family: 'Megrim', cursive;
font-family: 'Bilbo Swash Caps', cursive;
*/
      body {
        background: black;
        color: white;
        padding-top: 80px;
      }
      h1 {
        font-size: 36px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
      }
      h3 {
        font-size: 32px;
        padding: 20px;
        width: 100%;
        text-align: center;
        color:rgb(0, 225, 255);
      }
      /* WideSpread Welcome */
      .card {
        background: black;
      }
      .card p {
        padding-bottom: 20px;
      }
      .widespread-welcome {
        background: black;
      }
      .widespread-welcome h1 {
        color: black;
        font-size: 60px;
        text-shadow: 0 0 2px lightblue;
        padding: 0;
        padding-bottom: 80px;
      }
/* 

        Graduation 

*/

/* Graduation - Home */

.graduation-header {
  height: 110px;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; 
  float: none;
}

.spreadUser-data-bar {
  width: 40%;
  height: 110px;
  float: left;
  background: rgba(233, 63, 63, 0.534);
  border-bottom-right-radius: 20px;
  border-right: groove 2px white;
  border-bottom: groove 2px white;
  box-shadow: 0 0 8px white, 0 0 5px red, inset 0 0 15px rgba(255, 255, 255, 0.685);
  transition: ease-in 0.5s;

}
.spreadUser-data-bar:hover {
  background: rgba(241, 107, 107, 0.507);
  transition: ease-in 0.5s;
}
#spreadUser-img {
  width: 93px;
  height: 93px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px groove white;
  padding: 7px;
  cursor: pointer;
  box-shadow: 0 0 10px white, 0 0 5px red, inset 0 0 10px red, inset  0 0 3px white;
  float: left;
}
#spreadUser-img:hover {
  box-shadow: 0 0 10px white, 0 0 5px red, inset 0 0 10px red, inset  0 0 8px white, 0 0 8px white;
  background: rgba(255, 255, 255, 0.473);

}
#spreadUser-img img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: groove 1px white;
  box-shadow: 0 0 5px red, inset 0 0 8px black;

}
#spreadUser-data {
  width: 500px;
  height: 90px;
  float: left;
  position: absolute;
  left: 120px;
  top: 5px;
}
#spreadUser-name {
  width: 350px;
  height: 40px;
  line-height: 40px;
}
#spreadUser-name h3 {
  font-size: 32px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;
  text-align: left;
}
#spreadUser-role {
  width: 150px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 22px;
}
#spreadUser-role h4 {
  color: rgba(163, 159, 159, 0.705);
  font-size: 24px;
  text-shadow: 0 0 2px rgba(102, 95, 95, 0.671), 0 0 1px red;
  font-weight: bolder;
}
#spreadUser-utils {
  width: 650px;
  float: none;
}
#spreadUser-utils li {
  width: auto;
  padding: 5px;
  border-left: solid 1px rgba(255, 255, 255, 0.692);
  list-style: none;
  float: left;
  font-family: 'Julius Sans One', sans-serif;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.664), 0 0 2px #000, 0 0 1px rgba(255, 255, 255, 0.541);
  color: #000;
}
#spreadUser-utils li:first-of-type {
  border: none;
}
.school-data {
  width: 40%;
  height: 100px;
  width: 20%;
  float: left;
}
#school-logo {
}
#school-logo img {
  width: 350px;
  position: absolute;
  z-index: 9100;
  opacity: 0.9;
}
#school-name {
  position: absolute;
  top: 125px;
  margin-left: -50px;
  width: 450px;
  z-index: 9110;
}
#school-name h1 {
  color: red;
  text-shadow: 0 0 3px white;
  font-size: 34px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#current-data__visual-tag {
  float: left;
  width: 40%;
  height: 100px;
}

#targetUser-connections-slider {
  width: 5000px;
}
#targetUser-connections {
  width: 100%;
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  float: none;
}
#targetUser-connections li {
  width: 100px;
  height: 50px;
  float: left;
  list-style: none;
  padding: 3px;
}



/* Livestream Video */

#main-livestream-container {
  width: 100vw;
  height: 86vh;
  position: fixed;
  top: 12vh;
  left: 0;
  z-index: -1000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#main-stream {
  background: rgba(255, 0, 0, 0.178);
  width: 95vw;
  height: 86vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-radius: 20px;
  margin-left: 2.5vw;
  overflow: hidden;
  box-shadow: inset 0 0 8px white, 0 0 5px black;
}
#main-stream video {
  background: rgba(0, 0, 0, 0.61);
  width: 100%;
}
#main-stream-data {
  position: fixed;
  bottom: 10vh;
  left: 5vw;
  height: 10vh;
  width: 90vw;
}

#main-stream-header {
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 8px black, 0 0 12px black;
  background: rgba(66, 61, 61, 0.493);
  transition: ease-in-out 0.4s;
}
#main-stream-header:hover {
  transition: ease-in 0.4s;
  background: rgba(0, 0, 0, 0.767);
}
#main-stream-header h2 {
  font-size: 32px;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  text-shadow: 0 0 2px red;
  color: rgba(255, 255, 255, 0.658);
}
#main-stream-header h4 {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-size: 22px;
  text-shadow: 0 0 2px rgba(255, 0, 0, 0.61);
  color: rgba(255, 255, 255, 0.808);
}
/* WideSpread Logo */
.ws-logo {
  position: absolute;
  left: 200px;
  bottom: 250px;
  opacity: 0.3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: ease-in 0.4s;
  cursor: help;
  padding: 3px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.548), 0 0 3px rgba(255, 255, 255, 0.678), 0 0 4px lightskyblue, inset 0 0 4px lightskyblue;
}
#main-stream img {
  width: 120vw;
  margin-left: -25vw;
  margin-top: -25vh;
}
.ws-logo:hover {
  opacity: 0.7;
  transition: ease-in 0.4s;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.555), 0 0 8px white,  0 0 6px lightskyblue;
}
.ws-logo img {
  padding: 10px;
  width: 90px;
  height: 90px;
  opacity: 0.8;
  border-radius: 50%;
}
/* 

        Prom 

*/


      #div1 {
        border: solid 2px white;
        width: 300px;
        height: 30vh;
        border-radius: 10px;
        position: fixed;
        bottom: 20px;
        left: 45%;

      }
      #drag1, #drag2, #drag3 {
        cursor: grab;
      }
      #drag1 {
        padding: 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: solid 1px green;
        box-shadow: inset 0 0 10px lime, 0 0 6px lightskyblue;
      }
      #drag1 img {
        opacity: 0.8;
      }
      #lyricsList {
        position: fixed;
        left: 20px;
        bottom: 20px;
        width: 200px;
        height: 40vh;
        background: magenta;
      }
      /* Button  */
      button {
        border-radius: 8px;
        padding: 4px;
        border: solid 1px rgb(147, 161, 163);
        box-shadow: 0 0 2px white;
        margin-top: 5px;
        margin-bottom: 10px;
      }
      .zone-portal {
        background-image: linear-gradient(to top right, rgba(54, 52, 52, 0.452), rgba(71, 69, 64, 0.548), rgba(75, 71, 71, 0.295), rgba(84, 119, 143, 0.212), rgba(66, 118, 230, 0.384), transparent);
        padding: 5px;
        font-size: 24px;
        border: groove 2px white;
        border-radius: 8px;
      }
      .floor-one {
        width: 100%;
        height: 50px;
        color: white;
      }
      .floor-two {
        width: 100%;
        height: 50px;
        color: white;
      }
      .floor-one li {
        padding-top: 5px;
        width: 25%;
        float: left;
        list-style: none;
        height: 50px;
        cursor: pointer;
      }
      .floor-two li {
        padding-top: 5px;
        list-style: none;
        width: 25%;
        float: left;
        height: 50px;
        cursor: pointer;
      }
      .floor-one, .floor-two {
        text-align: center;
      }
      /* Top Spread Menu */
      .top-spread-menu {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        border-bottom: groove 2px white;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.568);
      }

      .top-spread-menu li {
        border-top: groove 2px white;
        background: rgb(115, 186, 207);
        width: 25%;
        float: left;
        text-align: center;
      }
      .top-spread-menu a {
        width: 25%;
        float: left;
      }
      /* SpreadBar */
      .spread-bar {
        background: rgba(255, 255, 255, 0.315);
        width: 100%;
        height: 50px;
      }
      .main-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
       float: left;
        box-shadow: 0 0 2px black;
        margin: 5px;
      }
      .main-icon:hover {
        box-shadow: 0 0 4px white;
      }
      .search {
        padding-top: 5px;
        width: 80%;
        float: left;
      }
      .search input {
        height: 38px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-left: 10px;
        width: 60%;
      }
      .search button {
        height: 38px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 30%;
      }
      #user_inventory {
        width: 10%;
        background: lime;
        float: left;
      }
      .spreadspace {
        width: 20%;
        float: left;
        text-align: center;
      }
      .spreadspace a {
        color: white;
        font-size: 18px;
        line-height: 50px;
      }
      .spreadspace a:hover {

        text-decoration: none;
      }
    
      .top-spread-menu li {
        text-align: center;
        list-style: none;
        width: 25%;
      }
      .top-spread-menu li a {
        width: 100%;
        text-align: center;
        font-size: 22px;
      }
      .top-spread-menu li a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: aqua
      }
      /* Image Headers */
.image-header-conatainer {
  width: 80vw;
  height: 200px;
}
.main-image {
  border: solid 3px rgb(0, 225, 255);
  border-radius: 8px;
  box-shadow: 0 0 4px white, inset 0 0 4px white;
  background: rgba(255, 255, 255, 0.233);
}
.main-image img {
  padding: 12px;
  border-radius: 18px;
}

/* 

        Music

 */


#musicStreamContainer {
  width: 100vw;
  height: 130px;
  padding-top: 10px;
  border-top: groove 5px grey;
  border-bottom: groove 5px grey;
  float: none;
  background: rgba(4, 126, 163, 0.411);
}
#musicCollections {
  width: 5%;
  float: left;
  height: 100px;
}
#musicCollections li {
  list-style: none;
}
#currentPlaylist {
  background: rgba(27, 199, 241, 0.644);
  width: 20%;
  height: 100px;
  float: left;
  overflow-y: scroll;
  border-top: groove 3px grey;
  border-bottom: groove 3px grey;
}
#currentPlaylist li {
  list-style: none;
  padding: 3px;
  padding-left: 5px;
  cursor: pointer;
}
#currentPlaylist li:hover {
  background: white;
  color: rgb(19, 75, 128);
}
audio {
  padding: 10px;
  height: 100px;
  width: 50%;
  float: left;
  outline: none;
}

#top-menu {
  width: 100%;
  height: 40px;
}
#top-menu li {
  width: 33%;
  float: left;
  text-align: center;
  list-style: none;
  font-size: 15px;
  cursor: pointer;
}
#currentController {
  width: 14%;
  height: 100px;
  float: left;
}

#mainControls {
  float: none;
  cursor: pointer;
}
.prev {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
  padding: 3px;
  border: solid 2px lightskyblue;
  box-shadow: inset 0 0 6px white, inset 0 0 3px lightskyblue, 0 0 4px white, 0 0 2px lightskyblue;
  border-radius: 8px;
  text-shadow: 0 0 2px white;

}
.prev:hover {
  background: white;
  color: black;
}
.play {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
  padding: 3px;
  border: solid 2px lightskyblue;
  box-shadow: inset 0 0 6px white, inset 0 0 3px lightskyblue, 0 0 4px white, 0 0 2px lightskyblue;
  border-radius: 8px;
  text-shadow: 0 0 2px white;

}
.play:hover {
  background: white;
  color: black;
}
.next {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
  padding: 3px;
  border: solid 2px lightskyblue;
  box-shadow: inset 0 0 6px white, inset 0 0 3px lightskyblue, 0 0 4px white, 0 0 2px lightskyblue;
  border-radius: 8px;
  text-shadow: 0 0 2px white;

}
.next:hover {
  background: white;
  color: black;
}
      /* COVID-19 */
      .covid-header {
        width: 100%;
        height: 40px;
        background:  red;
      }
      .covid-header h1 {
        width: 100%;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        margin-top: 10px;
      }
      .covid-link {
        color: red;
        text-shadow: 0 0 1px #fff;
      }
      .covid-map {
        width: 100vw;
        height: 100vw;
      }
      #map {
        height: 100%;
        width: 100%;
        z-index: 0;
        margin-top: 20px;
      }

      /* 
      
      ACADEMY
      
       */
      .academy-subject-menu {
        width: 90vw;
        height: 50px;
      }
      .academy-subject-menu ul {
        width: 100%;
      }
      .academy-subject-menu li {
        width: 19.5%;
        text-align: center;
        list-style: none;
        border-left: solid 1px white;
        border-right: solid 1px white;
        float: left;
      }
      .academy-subject-menu a {
        color: white;
        font-size: 18px;
        text-decoration: none;
      }
      .academy-subject-menu a:hover {
        color:rgb(0, 225, 255);
      }
       #backpack {
         width: 200px;
         margin-bottom: 50px;
         margin-left: 10px;
       }
       #backpack h3 {
         color: yellow;
         font-size: 24px;
         padding-left: 5px;
       }
       .backpack-tool-item {
         margin-top: 10px;
         border-top: groove 2px white;
         border-bottom: groove 2px white;
       }
       #write {
         width: 100%;
       }
       .note-body {
         width: 100%;
       }
       #noteBody {
         width: 100%;
       }
       #noteDisplay {
         border-bottom-left-radius: 6px;
         border-bottom-right-radius: 6px;
         background: rgb(97, 97, 99);
         margin-bottom: 10px;
       }
       #noteDisplay h4 {
         font-size: 24px;
         border-bottom: solid 1px #555;
         text-align: center;
         font-weight: bolder;
       }
       #noteDisplay h5 {
        text-align: right;
        font-size: 12px;
         border-bottom: solid 1px #555;
         background: #333;
         color: white;
         box-shadow: 0 0 3px black;

       }
       #read {
         width: 100%;
       }
       #noteMaster {
         width: 100%;
         border-top-right-radius: 6px;
         border-top-left-radius: 6px;
       }
       #btnWrite {
         color: black;
         background: black;
         border: none;
         outline: none;
         box-shadow: none;
         border: none;
         cursor: pointer;
         height: 1px;
         width: 1px;
       }
       #btnDelete {
         background: red;
         color: white;
       }
.paragraph {
  font-size: 20px;
  padding: 10px;
}
.academy-list {
  padding: 30px;
  padding-left: 60px;
}
.academy-list li {
  margin-top: 5px;
}
/* Math */
.slider-container {
  width: 90vw;
  margin-left: 5vw;
  height: 70vh;
  overflow-y: hidden;
  overflow-x: scroll;
  border-radius: 8px;

}
.slider {
  width: 900vw;
}
.slider li {
  width: 90vw;
  height: 70vh;
  float: left;
  list-style: none;
}
.slider-item {
  width: 100%;
  height: 100%;
}
.slider-item h3 {
  width: 100%;
  height: 100px;
  font-size: 48px;
  text-align: center;
}
.image-container {
  width: 100%;
}
.slider li img {
  margin-left: 10%;
}
       /*Code Editor*/
.desktop-container {
    width: 75vw;
    height: 80vh;
    background: rgba(255, 255, 255, 0.521);
    margin-top: 10vh;
    margin-left: 12.5vw;
    border-radius: 10px;
    box-shadow: inset 0 0 4px white, 0 0 4px white;
}

.editor-menu {
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: purple;
    z-index: 15;
}
.editor-menu li {
    color: #fff;
    float: left;
    width: 10%;
    margin-left: 6%;
    text-align: center;
    list-style: none;
    line-height: 50px;
}


.first {
    background: rgba(255, 255, 255, 0.418);
    width: 45vw;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 70vh;
    max-height: 90vh;
    white-space: pre;
    box-shadow: 0 1px 1px rgb(22, 22, 22);
    outline: none;
    padding: 15px;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #fff, 0 0 5px #fff;
    transition: all .7s ease-out;
    transition-timing-function: ease-in-out;
    border-radius: 10px;
    border: solid 1px white;
    box-shadow: 0 0 10px white, inset 0 0 5px #000;
    position: absolute;
    left: 10vw;
    bottom: 3vh;
}

.second {
    background-color: rgba(177, 246, 248, 0.781);
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: pre;
    box-shadow: 0 0 10px rgb(255, 255, 255), inset 0 0 10px black;
    border-radius: 10px;
    width: 40vw;
    height: 70vh;
    position: fixed;
    right: 20px;
    bottom: 3vh;
    color: white;
}
.editor-button {
  width: 100%;
  padding-top: 5px;
}
#code_btn {
  margin-left: 35%;
  width: 30%;
  height: 50px;
  
  line-height: 40px;
  background: rgba(39, 120, 226, 0.603);
  box-shadow: inset 0 0 20px white, inset 0 0 12px lightskyblue, 0 0 10px white, 0 0 4px lightskyblue;
  color: lightskyblue;
  border-radius: 10px;
  border: none;
  outline: none;
  text-shadow: 0 0 2px white, 0 0 1px lightskyblue;
  font-size: 32px;
}
#code_btn:hover {
  background: white;
}
#code_btn button {

}
/* Code Editor File Explorer */

.code-editor-file-explorer-container {
  background: rgba(32, 32, 32, 0.493);
  width: 8vw;
  height: 70vh;
  position: fixed;
  left: -10px;
  bottom: 3vh;
  border: groove 2px lightskyblue;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 20px;
  padding-left: 15px;
  box-shadow: inset 0 0 6px white, inset 0 0 3px lightskyblue, 0 0 5px white, 0 0 2px lightskyblue;
}
.code-editor-file-explorer-container li {
  padding: 4px;
  font-weight: lighter;
  cursor: pointer;
  transition: ease-in 0.32s;
}
.code-editor-file-explorer-container li:hover {
  color:rgb(39, 167, 184);
  transition: ease-in 0.5s;
}
#rightMenu {
}
.main-menu {
  border-top: 2px groove #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 50px;
  float: none;
  padding-left: 10%;
  background: #222;
  box-shadow: 0 0 30px lightskyblue;
}
.main-menu li {
  width: 30%;
  text-shadow: 0 0 3px lightskyblue;
  float: left;
  list-style: none;
  font-family: 'Gruppo', cursive;
}
.main-menu-item {
  float: none;
}
.main-menu p {
  width: 150px;
  float: left;
  line-height: 50px;
  text-align: center;
  font-size: 32px;
}
.main-menu img {
  width: 50px;
  height: 50px;
  float: left;
}
/* Subject Index */
.subject-index {
  background: #777;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}
.subject-index li {
  list-style:circle;
  margin-left: 10px;
}
.subject-index li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.subject-index li a:hover {
  color: lightskyblue;
}


#calc-graphics {
  width: 200px;
  height: 150px;
  background: white;
  border-radius: 5px;
  cursor: crosshair;
}
#calcScreen {
  background: #ccc;
  outline: none;
  border-radius: 5px;
  border: solid 1px white;
  font-size: 22px;
  width: 200px;
  padding: 5px;
}


.calculator td {
  width: 30px;
}
.calculator button {
  width: 95%;
  border: none;
  line-height: 25px;
  outline: none;
}
.calculator button:hover {
  background: black;
  color: white;
}
.number-button {
  background: lightskyblue;
  text-align: center;
  width: 25px;
}
.trig-button {
  background: steelblue;
}
.equals{
  background: crimson;
}
.equals:hover {
  background: white;
  color: crimson;
}
.operator-button {
  background: #777;
}

.lists {
  background: black;
}
.lists-catagories {
  width: 200px;
  height: 20px;
  float: none;
  border-bottom: solid 2px lightskyblue;
}
.lists-catagories li {
  width: 33%;
  float: left;
  list-style: none;
  text-align: center;
  padding-bottom: 5px;
  cursor: pointer;
}
.lists-catagories li:hover {
  color: lightskyblue;
}
.academy-image {
  text-align: center;
  padding: 20px;
}
.academy-image img {
  border-radius: 10px;
  box-shadow: 0 0 15px white, 0 0 10px lightskyblue;
}
.class-subject-card {
  width: 300px;
  height: 400px;
  background: #777;
  border-radius: 10px;
}
.class-subject-card-header {
  border-bottom: solid 2px lightskyblue;
}

.item-sales-card {
  width: 375px;
  height: 500px;
  margin-left: 30px;
  border: solid 1px white;
  border-radius: 10px;
  padding: 10px;
}

.image-slider-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 225px;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
}
.image-slider {
  width: 1000px;
}
.item-sales-card img {
  width: 200px;
}
.item-sales-card h5 {
  text-align: right;
  font-size: 22px;
}
.item-sales-card h6 {
  text-align: right;
  font-size: 32px;
  color: green;
}
.item-sales-card p {
  padding: 8px;
  padding-bottom: 15px;
}
.add-to-cart {
  background: rgba(255, 255, 255, 0.459);
  float: none;
  width: 375px;
  margin-left: -10px;
  height: 45px;
  border-top: groove 2px grey;
  border-bottom: groove 2px grey;
  box-shadow: inset 0 0 4px lightskyblue, 0 0 6px white, 0 0 3px lightskyblue; 
}
.save-item {
  float: left;
  width: 150px;
}
.add-item-to-cart {
  float: left;
  width: 150px;
  text-align: right;
  margin-left: 75px;
}
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="widespread-container">

    
      <%- body %>
    </div>

<!-- 
    <script src="/logic/map-logic_1.js"></script>
   -->
<!-- Replace following script src -->
<!-- <script src="/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js">
</script>
 -->
<!-- Code Editor -->
<script>
  function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
</script>
<script>
  const first = document.querySelector(".first");
const iframe = document.querySelector("iframe");
const btn = document.querySelector("#code_btn");

btn.addEventListener("click", () => {
    var html = first.textContent;
    iframe.src = "data:text/html;charset=utf-8," + encodeURI(html);
});


first.addEventListener('keyup', () => {
    var html = first.textContent;
    iframe.src = "data:text/html;charset=utf-8," + encodeURI(html);
});

first.addEventListener("paste", function (e) {
    e.preventDefault();
    var text = e.clipboardData.getData("text/plain");
    document.execCommand("insertText", false, text);
});


</script>
<script>
  const showAddResourceForm = document.querySelector("#append-resource");
const input = document.querySelector("input");
const textarea = document.querySelector("button");

showAddResourceForm.addEventListener("click", () => {

})
</script>


<!-- Notes -->
<script>
  function Note(date, title, body) {
    this.date = date;
    this.title = title;
    this.body = body;
}
</script>
<script>
  const btnSave =
    document.getElementById('btnSave');
let notes = "";
init();

function init() {
    let out = "";
    let noteArray =
        JSON.parse(localStorage.getItem('noteData'));
    if (noteArray != null && noteArray != "") {
        noteArray =
            JSON.parse(localStorage.getItem('noteData'));
        for (let x = 0; x < noteArray.length; x++) {
            out += "<option value=" + x + ">";
            out += noteArray[x].title;
            out += "</option>";

            document.getElementById('noteMaster').innerHTML = out;
        }

        document.getElementById('btnWrite').addEventListener('click', function (e) {
            writeNote();
        });
        document.getElementById('noteMaster').addEventListener('click', function (e) {
            displayNote(e.target.value);
        });

        readNotes();
    } else {
        writeNote();
    }
}
function writeNote() {
    document.getElementById('read').style.display = "none";

    document.getElementById('write').style.display = "block";

    document.getElementById('noteTitle').value = "";

    document.getElementById('noteBody').value = "";

}

function readNotes() {
    document.getElementById('read').style.display = "block";

    document.getElementById('write').style.display = "block";

}

function displayNote(note) {
    let noteArray =
        JSON.parse(localStorage.getItem('noteData'));

    let out = "<h4>" + noteArray[note].title + "</h4>";
    out += "<h5>" + new Date(noteArray[note].date).toDateString() + "</h5>";
    out += "<p>" + noteArray[note].body + "</p>";
    out += "<button id='btnDelete'>Delete</button> "

    document.getElementById('noteDisplay').innerHTML = out;

    document.getElementById('btnDelete').onclick = function () {
        noteArray.splice(note, 1);
        localStorage.setItem('noteData', JSON.stringify(noteArray));
        init();
    }
};

btnSave.onclick = function () {
    const noteDate = new Date();
    const noteTitle = document.getElementById('noteTitle').value;
    const noteBody = document.getElementById('noteBody').value;
    const theNote = new Note(noteDate, noteTitle, noteBody);
    saveNotes(theNote);
}

function saveNotes(note) {
    let noteArray = JSON.parse(localStorage.getItem('noteData'));
    if (noteArray == null) {
        noteArray = new Array();
        noteArray.push(note);
    } else {
        noteArray.push(note);
    }
    localStorage.setItem('noteData', JSON.stringify(noteArray));
    readNotes();
    init();
}
</script>




<!-- OTHER  -->
<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ42MPk0Ua5QMFU_YLM1X_yoF6LVKTpPw&callback=initMap">
</script> -->
      
<!-- 
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ42MPk0Ua5QMFU_YLM1X_yoF6LVKTpPw&callback=initMap">
    </script> -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
