<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="5sb7wDuHomWcznqcG_a-X704L3Rc88LQRdnpbQGOFR4" />
    <title>WideSpread</title>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Great+Vibes&family=Italianno&family=Miss+Fajardose&family=Rock+Salt&family=Sulphur+Point&family=Tangerine:wght@700&family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">

    <script src="ejs.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Gruppo|Italianno|Megrim|Syncopate"
        rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/style/style.css">
    <style>
      html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* Fonts used in WideSpread */
/*
font-family: 'Italianno', cursive;
font-family: 'Syncopate', sans-serif;
font-family: 'Gruppo', cursive;
font-family: 'Megrim', cursive;
font-family: 'Bilbo Swash Caps', cursive;
*/
      body {
        background: black;
        color: white;
        padding-top: 80px;
      }
      h1 {
        font-size: 36px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
      }
      h3 {
        font-size: 32px;
        padding: 20px;
        width: 100%;
        text-align: center;
        color:rgb(0, 225, 255);
      }
      /* WideSpread Welcome */
      .card {
        background: black;
      }
      .card p {
        padding-bottom: 20px;
      }
      .widespread-welcome {
        background: black;
      }
      .widespread-welcome h1 {
        color: black;
        font-size: 60px;
        text-shadow: 0 0 2px lightblue;
        padding: 0;
        padding-bottom: 80px;
      }

/* 


        Celebration of Life

 */

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* 
        font-family: 'Alex Brush', cursive;
        font-family: 'Great Vibes', cursive;
        font-family: 'Italianno', cursive;
        font-family: 'Miss Fajardose', cursive;
        font-family: 'Rock Salt', cursive;
        font-family: 'Sulphur Point', sans-serif;
        font-family: 'Tangerine', cursive;
        font-family: 'UnifrakturCook', cursive;
        
*/
.cob-container {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgb(31, 32, 32);
}
.cob-menu {

}
.cob-page-title {
        font-family: 'Sulphur Point', sans-serif;
  text-shadow: 0 0 3px white;

}
.cob-page-title h1 {
  color: rgba(255, 255, 255, 0.219);
  font-size: 52px;
  text-shadow: 0 0 2px rgba(22, 93, 151, 0.226), 0 0 6px rgba(255, 255, 255, 0.705);
}
.cob-header {
  text-shadow: 0 0 3px white;
}
.cob-header h2 {
  font-family: 'Great Vibes', cursive;

  text-shadow: 0 0 2px rgba(22, 93, 151, 0.226), 0 0 6px rgba(255, 255, 255, 0.705);
}
.cob-header h1 {
  text-shadow: 0 0 2px rgba(22, 93, 151, 0.226), 0 0 6px rgba(255, 255, 255, 0.705);
  font-family: 'Great Vibes', cursive;
  color: rgba(255, 255, 255, 0.74);
  font-size: 56px;
  cursor: grab;
  text-shadow: 0 0 3px white;
}




/* 

          We Love You Section

 */

 #we-love-you {
   background: rgb(71, 71, 71);
   width: 100%;
   padding: 12px;
   border-top: groove 4px white;
   border-bottom: groove 4px white;
 }
 .we-love-you-message {
   background: rgb(60, 60, 73);
   padding: 4px;
   border-radius: 8px;
   width: 80%;
   margin-left: 10%;
 }
 .we-love-you-message p {
   padding: 10px;
   width: 90%;
   margin-left: 5%;
 }


#last-goodbyes {
  margin-top: 35px;
  border-top: 2px white groove;
  box-shadow: inset 0 30px 15px rgba(58, 101, 196, 0.274);
  width: 100vw;
  font-family: 'Great Vibes', cursive;
  overflow-x: scroll;
  padding-bottom: 10px;
}
.last-goodbyes-user-list {
  width: 2500px;
}

.last-goodbyes-user-list li {
  width: 450px;
  padding: 5px;
  float: left;
  list-style: none;
  padding-top: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: grab;
}
.last-goodbyes-user {
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  box-shadow: inset 0 0 5px #222;
  background: rgba(255, 255, 255, 0.76);
  transition: ease-in 0.3s;
}
.last-goodbyes-user:hover {
  transition: ease-in 0.3s;
  background: rgba(255, 255, 255, 0.274);
  box-shadow: inset 0 0 10px white;
}
.last-goodbyes-user h3 {
  color: rgba(255, 255, 255, 0.651);
  font-weight: bolder;
  text-shadow: 0 0 13px black;
  font-size: 2.3rem;
}
 .celebration-images {
   width: 90vw;
   margin-left: 5vw;
   height: 70vh;
   float: none;
   margin-top: 30px;
   cursor: grab;
   transition: 1s;
 }
 .celebration-images li {
    width: 400px;
    height: 800px;
   float: left;
   max-height: 800px;
   margin-bottom: 20px;
   margin-left: 10px;
   margin-right: 10px;
   list-style: none;
   overflow: hidden;
   float: left;
    border-radius: 12px;
    box-shadow: 0 0 18px rgba(255, 255, 255, 0.603), inset 0 0 150px rgba(7, 113, 235, 0.068);
   opacity: 0.6;
   transition: ease-in 1.0s;
   color: rgb(135, 135, 136);
   box-shadow: inset 0 0 40px rgba(7, 113, 235, 0.89), inset 0 0 60px rgba(255, 255, 255, 0.205), 0 0 10px white;
 }
 .celebration-images li:hover {
   transition: ease-in 1.0s;
   opacity: 1.0;
   color: white;
   box-shadow: inset 0 0 40px rgba(7, 113, 235, 0.103), inset 0 0 60px rgba(255, 255, 255, 0.205), 0 0 10px white;
 }

 .celebration-images img {
    width: 350px;
    margin-left: 25px;
    margin-top: 25px;
    border-bottom: groove 4px white;
    box-shadow: 0px -10px 20px rgba(7, 113, 235, 0.247), 0 0 12px white, inset 0 0 30px black, inset 0 0 4px white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: grabbing;
   transition: 0.4s;
    
 }
 .celebration-images img:hover {
   box-shadow: none;
   transition: 0.4s;
 }
 .celebration-images p {
 /* 
        font-family: 'Alex Brush', cursive;
        
        font-family: 'UnifrakturCook', cursive;
        font-family: 'Tangerine', cursive;
        font-family: 'Rock Salt', cursive;
        font-family: 'Miss Fajardose', cursive;
        font-family: 'Italianno', cursive;
        font-family: 'Sulphur Point', sans-serif;
*/
        font-family: 'Great Vibes', cursive;
   margin-top: 25px;
   text-shadow: 0 0 8px white;
   width: 300px;
   margin-left: 35px;
   font-size: 36px;
 }



 /* 
 
                Special Pages
 
  */
  .widespread-link {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 100px;
    height: 30px;
    z-index: 1000;
  }
  .widespread-link li {
    list-style: none;
    background: rgba(34, 34, 34, 0.63);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 4px white, inset 0 0 7px rgba(255, 255, 255, 0.719);
  }
  .widespread-link a {
        font-family: 'Sulphur Point', sans-serif;
    color: rgba(255, 255, 255, 0.582);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.411);
    transition: ease-in 0.3s;
  }
  .widespread-link a:hover {
    text-decoration: none;
    color:rgb(115, 186, 207);
    transition: ease-in 0.3s;
  }
.main-heading {
  font-family: 'Tangerine', cursive;
  z-index: -100;
  background: rgba(38, 75, 153, 0.322);
  box-shadow: inset 0 0 30px black, inset 0 0 50px rgba(28, 34, 126, 0.377), inset 0 0 60px rgba(0, 0, 0, 0.233), inset 0px -10px 20px rgba(0, 0, 0, 0.911), 0 0 5px #444;
  cursor: grabbing;
  text-align: center;
}
.ole-man {
  padding-top: 10px;
}
.main-heading h1 {
  font-size: 150px;
  text-shadow: 0 0 10px white, 0 0 20px rgb(33, 45, 212), 0 0 30px white;
  color: rgba(255, 255, 255, 0.644);
}
.main-heading img {
  margin-left: -40px;
  opacity: 0.5;
}
.celebration-menu {
  background: lime;
  z-index: 100;
}
.nav-menu {
  background: rgb(47, 47, 51);
  height: 50px;
}
.nav-menu li {
        font-family: 'Great Vibes', cursive;
  width: 20%;
  line-height: 50px;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.658);
  list-style: none;
  float: left;
  font-size: 32px;
  text-align: center;
}
.nav-menu a {
  font-style: none;
  transition: ease-in 0.3s;
}
.nav-menu a:hover {
  font-style: none;
  transition: ease-in 0.3s;
  color: rgba(255, 255, 255, 0.479);
  text-decoration: none;
}
.celebration-container {
}

.celebration-header {
  padding-top: 50px;
}
.main-memory-container {
  max-width: 400px;
  max-height: 400px; 
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
}
.main-memory-container img {
  width: 400px;
  height: auto;
  opacity: 0.5;
  z-index: 9;
  margin-top: -145px;
  transition: ease-in 0.5s;
}
.main-memory-container img:hover {
  cursor: grab;
}
.celebration-header h1 {
  box-shadow: 0 0 10px white, 0 0 20px rgba(42, 42, 160, 0.747), 0 0 40px rgba(255, 255, 255, 0.5);
  font-size: 100px;
  text-shadow: 0 0 10px white, 0 0 20px rgb(33, 45, 212), 0 0 30px rgba(255, 255, 255, 0.493);
  color: rgba(255, 255, 255, 0.918);
  font-family: 'Tangerine', cursive;
  z-index: 10;
  background: rgba(255, 255, 255, 0.288);
  margin-top: 30px;
  margin-bottom: 25px;
  
}
.celebration-header h2 {
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 32px;
  text-shadow: 0 0 2px white;
  color: rgba(115, 155, 207, 0.705);
}
.celebration-header h4 {
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
  color: #888;
  text-shadow: 0 0 1px white;
}


#celebration-goodbye {
}

#celebration-goodbye h3 {
  font-family: 'Tangerine', cursive;
  font-size: 48px;
  margin-bottom: 20px;
  color: lightskyblue;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.658), 0 0 10px rgba(135, 206, 250, 0.623), 0 0 15px rgba(255, 255, 255, 0.363);
}
#celebration-goodbye p {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 22px;
  width: 80%;
  margin-left: 10%;
  padding: 12px;

}


/* 

        Graduation 

*/

/* Graduation - Home */

.grad-welcome-header {
  width: 80vw;
  cursor: default;
  margin-left: 10vw;
  font-family: 'Julius Sans One', sans-serif;
  color: rgba(255, 255, 255, 0.568);
}
.grad-welcome-header h1 {
  text-align: center;
  font-size: 80px;
  padding-top: 50px;
  text-shadow: 0 0 4px red, 0 0 1px red;
}
.grad-welcome-header h3 {
  color: rgba(255, 255, 255, 0.856);
  text-align: center;
  font-size: 72px;
  font-weight: bold;
}
.grad-welcome-header h5 {
  text-align: center;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.801);
}
.grad-welcome-header h2 {
  text-shadow: 0 0 4px red, 0 0 1px red;
  text-align: center;
  font-size: 72px;
}
.event-name {
  margin-top: 40px;
  font-weight: bold;
  text-shadow: 0 0 4px red, 0 0 1px red;
  color: white;
}

/* Graduation Enter Device/Viewing Type */
/* e.g. 2D Screen, VR Headset, AR, etc. */

.grad-enter-type {
  width: 100vw;
  height: 400px;
  margin-top: 50px;
}
.viewing-types-container {
  width: 90vw;
  height: 400px;
  margin-top: 10px;
  margin-left: 5vw;
  float: none;
}
.viewing-types-container li {
  width: 33%;
  list-style: none;
  height: 400px;
  float: left;
}
.view-type-option {
  height: auto;
  text-align: center;
}
.view-type-img {
  width: 100%;
  text-align: center;
}
.view-type-option img {
  width: 150px;
  text-align: center;
}


/* Graduation - Class */

.graduation-header {
  height: 110px;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; 
  float: none;
}

.spreadUser-data-bar {
  width: 40%;
  height: 110px;
  float: left;
  background: rgba(221, 117, 117, 0.534);
  border-bottom-right-radius: 20px;
  border-right: groove 2px white;
  border-bottom: groove 2px white;
  box-shadow: 0 0 8px white, 0 0 5px red, inset 0 0 15px rgba(255, 255, 255, 0.685);
  transition: ease-in 0.5s;

}
.spreadUser-data-bar:hover {
  background: rgba(241, 107, 107, 0.507);
  transition: ease-in 0.5s;
}
#spreadUser-img {
  width: 93px;
  height: 93px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px groove white;
  padding: 7px;
  cursor: pointer;
  box-shadow: 0 0 10px white, 0 0 5px red, inset 0 0 10px red, inset  0 0 3px white;
  float: left;
}
#spreadUser-img:hover {
  box-shadow: 0 0 10px white, 0 0 5px red, inset 0 0 10px red, inset  0 0 8px white, 0 0 8px white;
  background: rgba(255, 255, 255, 0.473);

}
#spreadUser-img img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: groove 1px white;
  box-shadow: 0 0 5px red, inset 0 0 8px black;

}
#spreadUser-data {
  width: 500px;
  height: 90px;
  float: left;
  position: absolute;
  left: 120px;
  top: 5px;
}
#spreadUser-name {
  width: 350px;
  height: 40px;
  line-height: 40px;
}
#spreadUser-name h3 {
  font-size: 32px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;
  text-align: left;
}
#spreadUser-role {
  width: 150px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 22px;
}
#spreadUser-role h4 {
  color: rgba(163, 159, 159, 0.705);
  font-size: 24px;
  text-shadow: 0 0 2px rgba(102, 95, 95, 0.671), 0 0 1px red;
  font-weight: bolder;
}
#spreadUser-utils {
  width: 650px;
  float: none;
}
#spreadUser-utils li {
  width: auto;
  padding: 5px;
  border-left: solid 1px rgba(255, 255, 255, 0.692);
  list-style: none;
  float: left;
  font-family: 'Julius Sans One', sans-serif;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.664), 0 0 2px #000, 0 0 1px rgba(255, 255, 255, 0.541);
  color: #000;
}
#spreadUser-utils li:first-of-type {
  border: none;
}
.school-data {
  width: 40%;
  height: 100px;
  width: 20%;
  float: left;
}
#school-logo {
}
#school-logo img {
  width: 350px;
  position: absolute;
  z-index: 9100;
  opacity: 0.9;
}
#school-name {
  position: absolute;
  top: 125px;
  margin-left: -50px;
  width: 450px;
  z-index: 9110;
  cursor: default;
}
#school-name h1 {
  color: red;
  text-shadow: 0 0 3px white;
  font-size: 34px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#current-data__visual-tag {
  float: left;
  width: 40%;
  height: 100px;
}

#targetUser-connections-slider {
  width: 5000px;
}
#targetUser-connections {
  width: 100%;
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  float: none;
}
#targetUser-connections li {
  width: 100px;
  height: 50px;
  float: left;
  list-style: none;
  padding: 3px;
}



/* Livestream Video */

#main-livestream-container {
  width: 100vw;
  height: 90vh;
  position: fixed;
  top: 12vh;
  left: 0;
  z-index: -1000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#main-stream {
  background: rgba(255, 0, 0, 0.178);
  width: 95vw;
  height: 86vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-radius: 20px;
  margin-left: 2.5vw;
  overflow: hidden;
  box-shadow: inset 0 0 8px white, 0 0 5px black;
}
#main-stream video {
  background: rgba(0, 0, 0, 0.61);
  width: 100%;
}
#main-stream-data {
  position: fixed;
  bottom: 10vh;
  left: 5vw;
  height: 10vh;
  width: 90vw;
}

#main-stream-header {
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 8px black, 0 0 12px black;
  background: rgba(66, 61, 61, 0.493);
  transition: ease-in-out 0.4s;
}
#main-stream-header:hover {
  transition: ease-in 0.4s;
  background: rgba(0, 0, 0, 0.767);
}
#main-stream-header h2 {
  font-size: 32px;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  text-shadow: 0 0 2px red;
  color: rgba(255, 255, 255, 0.658);
}
#main-stream-header h4 {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-size: 22px;
  text-shadow: 0 0 2px rgba(255, 0, 0, 0.61);
  color: rgba(255, 255, 255, 0.808);
}

#main-stream img {
  width: 120vw;
  margin-left: -25vw;
  margin-top: -25vh;
}

/* 

        Prom 

*/


      #div1 {
        border: solid 2px white;
        width: 300px;
        height: 30vh;
        border-radius: 10px;
        position: fixed;
        bottom: 20px;
        left: 45%;

      }
      #drag1, #drag2, #drag3 {
        cursor: grab;
      }
      #drag1 {
        padding: 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: solid 1px green;
        box-shadow: inset 0 0 10px lime, 0 0 6px lightskyblue;
      }
      #drag1 img {
        opacity: 0.8;
      }
      #lyricsList {
        position: fixed;
        left: 20px;
        bottom: 20px;
        width: 200px;
        height: 40vh;
        background: magenta;
      }
      /* Button  */
      button {
        border-radius: 8px;
        padding: 4px;
        border: solid 1px rgb(147, 161, 163);
        box-shadow: 0 0 2px white;
        margin-top: 5px;
        margin-bottom: 10px;
      }
      .zone-portal {
        background-image: linear-gradient(to top right, rgba(54, 52, 52, 0.452), rgba(71, 69, 64, 0.548), rgba(75, 71, 71, 0.295), rgba(84, 119, 143, 0.212), rgba(66, 118, 230, 0.384), transparent);
        padding: 5px;
        font-size: 24px;
        border: groove 2px white;
        border-radius: 8px;
      }
      .floor-one {
        width: 100%;
        height: 50px;
        color: white;
      }
      .floor-two {
        width: 100%;
        height: 50px;
        color: white;
      }
      .floor-one li {
        padding-top: 5px;
        width: 25%;
        float: left;
        list-style: none;
        height: 50px;
        cursor: pointer;
      }
      .floor-two li {
        padding-top: 5px;
        list-style: none;
        width: 25%;
        float: left;
        height: 50px;
        cursor: pointer;
      }
      .floor-one, .floor-two {
        text-align: center;
      }
      /* Top Spread Menu */
      .top-spread-menu {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        border-bottom: groove 2px white;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.568);
      }

      .top-spread-menu li {
        border-top: groove 2px white;
        background: rgb(115, 186, 207);
        width: 25%;
        float: left;
        text-align: center;
      }
      .top-spread-menu a {
        width: 25%;
        float: left;
      }
      /* SpreadBar */
      .spread-bar {
        background: rgba(255, 255, 255, 0.315);
        width: 100%;
        height: 50px;
      }
      .main-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
       float: left;
        box-shadow: 0 0 2px black;
        margin: 5px;
      }
      .main-icon:hover {
        box-shadow: 0 0 4px white;
      }
      .search {
        padding-top: 5px;
        width: 80%;
        float: left;
      }
      .search input {
        height: 38px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-left: 10px;
        width: 60%;
      }
      .search button {
        height: 38px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 30%;
      }
      #user_inventory {
        width: 10%;
        background: lime;
        float: left;
      }
      .spreadspace {
        width: 20%;
        float: left;
        text-align: center;
      }
      .spreadspace a {
        color: white;
        font-size: 18px;
        line-height: 50px;
      }
      .spreadspace a:hover {

        text-decoration: none;
      }
    
      .top-spread-menu li {
        text-align: center;
        list-style: none;
        width: 25%;
      }
      .top-spread-menu li a {
        width: 100%;
        text-align: center;
        font-size: 22px;
      }
      .top-spread-menu li a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: aqua
      }
      /* Image Headers */
.image-header-conatainer {
  width: 80vw;
  height: 200px;
}
.main-image {
  border: solid 3px rgb(0, 225, 255);
  border-radius: 8px;
  box-shadow: 0 0 4px white, inset 0 0 4px white;
  background: rgba(255, 255, 255, 0.233);
}
.main-image img {
  padding: 12px;
  border-radius: 18px;
}

/* 

        Music

 */


#musicStreamContainer {
  width: 100vw;
  height: 130px;
  padding-top: 10px;
  border-top: groove 5px grey;
  border-bottom: groove 5px grey;
  float: none;
  background: rgba(4, 126, 163, 0.411);
}
#musicCollections {
  width: 5%;
  float: left;
  height: 100px;
}
#musicCollections li {
  list-style: none;
}
#currentPlaylist {
  background: rgba(27, 199, 241, 0.644);
  width: 20%;
  height: 100px;
  float: left;
  overflow-y: scroll;
  border-top: groove 3px grey;
  border-bottom: groove 3px grey;
}
#currentPlaylist li {
  list-style: none;
  padding: 3px;
  padding-left: 5px;
  cursor: pointer;
}
#currentPlaylist li:hover {
  background: white;
  color: rgb(19, 75, 128);
}
audio {
  padding: 10px;
  height: 100px;
  width: 50%;
  float: left;
  outline: none;
}

#top-menu {
  width: 100%;
  height: 40px;
}
#top-menu li {
  width: 33%;
  float: left;
  text-align: center;
  list-style: none;
  font-size: 15px;
  cursor: pointer;
}
#currentController {
  width: 14%;
  height: 100px;
  float: left;
}

#mainControls {
  float: none;
  cursor: pointer;
}
.prev {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
  padding: 3px;
  border: solid 2px lightskyblue;
  box-shadow: inset 0 0 6px white, inset 0 0 3px lightskyblue, 0 0 4px white, 0 0 2px lightskyblue;
  border-radius: 8px;
  text-shadow: 0 0 2px white;

}
.prev:hover {
  background: white;
  color: black;
}
.play {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
  padding: 3px;
  border: solid 2px lightskyblue;
  box-shadow: inset 0 0 6px white, inset 0 0 3px lightskyblue, 0 0 4px white, 0 0 2px lightskyblue;
  border-radius: 8px;
  text-shadow: 0 0 2px white;

}
.play:hover {
  background: white;
  color: black;
}
.next {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
  padding: 3px;
  border: solid 2px lightskyblue;
  box-shadow: inset 0 0 6px white, inset 0 0 3px lightskyblue, 0 0 4px white, 0 0 2px lightskyblue;
  border-radius: 8px;
  text-shadow: 0 0 2px white;

}
.next:hover {
  background: white;
  color: black;
}
      /* COVID-19 */
      .covid-header {
        width: 100%;
        height: 40px;
        background:  red;
      }
      .covid-header h1 {
        width: 100%;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        margin-top: 10px;
      }
      .covid-link {
        color: red;
        text-shadow: 0 0 1px #fff;
      }
      .covid-map {
        width: 100vw;
        height: 100vw;
      }
      #map {
        height: 100%;
        width: 100%;
        z-index: 0;
        margin-top: 20px;
      }

      /* 
      
      ACADEMY
      
       */
      .academy-subject-menu {
        width: 90vw;
        height: 50px;
      }
      .academy-subject-menu ul {
        width: 100%;
      }
      .academy-subject-menu li {
        width: 19.5%;
        text-align: center;
        list-style: none;
        border-left: solid 1px white;
        border-right: solid 1px white;
        float: left;
      }
      .academy-subject-menu a {
        color: white;
        font-size: 18px;
        text-decoration: none;
      }
      .academy-subject-menu a:hover {
        color:rgb(0, 225, 255);
      }
       #backpack {
         width: 200px;
         margin-bottom: 50px;
         margin-left: 10px;
       }
       #backpack h3 {
         color: yellow;
         font-size: 24px;
         padding-left: 5px;
       }
       .backpack-tool-item {
         margin-top: 10px;
         border-top: groove 2px white;
         border-bottom: groove 2px white;
       }
       #write {
         width: 100%;
       }
       .note-body {
         width: 100%;
       }
       #noteBody {
         width: 100%;
       }
       #noteDisplay {
         border-bottom-left-radius: 6px;
         border-bottom-right-radius: 6px;
         background: rgb(97, 97, 99);
         margin-bottom: 10px;
       }
       #noteDisplay h4 {
         font-size: 24px;
         border-bottom: solid 1px #555;
         text-align: center;
         font-weight: bolder;
       }
       #noteDisplay h5 {
        text-align: right;
        font-size: 12px;
         border-bottom: solid 1px #555;
         background: #333;
         color: white;
         box-shadow: 0 0 3px black;

       }
       #read {
         width: 100%;
       }
       #noteMaster {
         width: 100%;
         border-top-right-radius: 6px;
         border-top-left-radius: 6px;
       }
       #btnWrite {
         color: black;
         background: black;
         border: none;
         outline: none;
         box-shadow: none;
         border: none;
         cursor: pointer;
         height: 1px;
         width: 1px;
       }
       #btnDelete {
         background: red;
         color: white;
       }
.paragraph {
  font-size: 20px;
  padding: 10px;
}
.academy-list {
  padding: 30px;
  padding-left: 60px;
}
.academy-list li {
  margin-top: 5px;
}
/* Math */
.slider-container {
  width: 90vw;
  margin-left: 5vw;
  height: 70vh;
  overflow-y: hidden;
  overflow-x: scroll;
  border-radius: 8px;

}
.slider {
  width: 900vw;
}
.slider li {
  width: 90vw;
  height: 70vh;
  float: left;
  list-style: none;
}
.slider-item {
  width: 100%;
  height: 100%;
}
.slider-item h3 {
  width: 100%;
  height: 100px;
  font-size: 48px;
  text-align: center;
}
.image-container {
  width: 100%;
}
.slider li img {
  margin-left: 10%;
}
       /*Code Editor*/
.desktop-container {
    width: 75vw;
    height: 80vh;
    background: rgba(255, 255, 255, 0.521);
    margin-top: 10vh;
    margin-left: 12.5vw;
    border-radius: 10px;
    box-shadow: inset 0 0 4px white, 0 0 4px white;
}

.editor-menu {
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: purple;
    z-index: 15;
}
.editor-menu li {
    color: #fff;
    float: left;
    width: 10%;
    margin-left: 6%;
    text-align: center;
    list-style: none;
    line-height: 50px;
}


.first {
    background: rgba(255, 255, 255, 0.418);
    width: 45vw;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 70vh;
    max-height: 90vh;
    white-space: pre;
    box-shadow: 0 1px 1px rgb(22, 22, 22);
    outline: none;
    padding: 15px;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #fff, 0 0 5px #fff;
    transition: all .7s ease-out;
    transition-timing-function: ease-in-out;
    border-radius: 10px;
    border: solid 1px white;
    box-shadow: 0 0 10px white, inset 0 0 5px #000;
    position: absolute;
    left: 10vw;
    bottom: 3vh;
}

.second {
    background-color: rgba(177, 246, 248, 0.781);
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: pre;
    box-shadow: 0 0 10px rgb(255, 255, 255), inset 0 0 10px black;
    border-radius: 10px;
    width: 40vw;
    height: 70vh;
    position: fixed;
    right: 20px;
    bottom: 3vh;
    color: white;
}
.editor-button {
  width: 100%;
  padding-top: 5px;
}
#code_btn {
  margin-left: 35%;
  width: 30%;
  height: 50px;
  
  line-height: 40px;
  background: rgba(39, 120, 226, 0.603);
  box-shadow: inset 0 0 20px white, inset 0 0 12px lightskyblue, 0 0 10px white, 0 0 4px lightskyblue;
  color: lightskyblue;
  border-radius: 10px;
  border: none;
  outline: none;
  text-shadow: 0 0 2px white, 0 0 1px lightskyblue;
  font-size: 32px;
}
#code_btn:hover {
  background: white;
}
#code_btn button {

}
/* Code Editor File Explorer */

.code-editor-file-explorer-container {
  background: rgba(32, 32, 32, 0.493);
  width: 8vw;
  height: 70vh;
  position: fixed;
  left: -10px;
  bottom: 3vh;
  border: groove 2px lightskyblue;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 20px;
  padding-left: 15px;
  box-shadow: inset 0 0 6px white, inset 0 0 3px lightskyblue, 0 0 5px white, 0 0 2px lightskyblue;
}
.code-editor-file-explorer-container li {
  padding: 4px;
  font-weight: lighter;
  cursor: pointer;
  transition: ease-in 0.32s;
}
.code-editor-file-explorer-container li:hover {
  color:rgb(39, 167, 184);
  transition: ease-in 0.5s;
}
#rightMenu {
}
.main-menu {
  border-top: 2px groove #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 50px;
  float: none;
  padding-left: 10%;
  background: #222;
  box-shadow: 0 0 30px lightskyblue;
}
.main-menu li {
  width: 30%;
  text-shadow: 0 0 3px lightskyblue;
  float: left;
  list-style: none;
  font-family: 'Gruppo', cursive;
}
.main-menu-item {
  float: none;
}
.main-menu p {
  width: 150px;
  float: left;
  line-height: 50px;
  text-align: center;
  font-size: 32px;
}
.main-menu img {
  width: 50px;
  height: 50px;
  float: left;
}
/* Subject Index */
.subject-index {
  background: #777;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}
.subject-index li {
  list-style:circle;
  margin-left: 10px;
}
.subject-index li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.subject-index li a:hover {
  color: lightskyblue;
}


#calc-graphics {
  width: 200px;
  height: 150px;
  background: white;
  border-radius: 5px;
  cursor: crosshair;
}
#calcScreen {
  background: #ccc;
  outline: none;
  border-radius: 5px;
  border: solid 1px white;
  font-size: 22px;
  width: 200px;
  padding: 5px;
}


.calculator td {
  width: 30px;
}
.calculator button {
  width: 95%;
  border: none;
  line-height: 25px;
  outline: none;
}
.calculator button:hover {
  background: black;
  color: white;
}
.number-button {
  background: lightskyblue;
  text-align: center;
  width: 25px;
}
.trig-button {
  background: steelblue;
}
.equals{
  background: crimson;
}
.equals:hover {
  background: white;
  color: crimson;
}
.operator-button {
  background: #777;
}

.lists {
  background: black;
}
.lists-catagories {
  width: 200px;
  height: 20px;
  float: none;
  border-bottom: solid 2px lightskyblue;
}
.lists-catagories li {
  width: 33%;
  float: left;
  list-style: none;
  text-align: center;
  padding-bottom: 5px;
  cursor: pointer;
}
.lists-catagories li:hover {
  color: lightskyblue;
}
.academy-image {
  text-align: center;
  padding: 20px;
}
.academy-image img {
  border-radius: 10px;
  box-shadow: 0 0 15px white, 0 0 10px lightskyblue;
}
.class-subject-card {
  width: 300px;
  height: 400px;
  background: #777;
  border-radius: 10px;
}
.class-subject-card-header {
  border-bottom: solid 2px lightskyblue;
}

.item-sales-card {
  width: 375px;
  height: 500px;
  margin-left: 30px;
  border: solid 1px white;
  border-radius: 10px;
  padding: 10px;
}

.image-slider-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 225px;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
}
.image-slider {
  width: 1000px;
}
.item-sales-card img {
  width: 200px;
}
.item-sales-card h5 {
  text-align: right;
  font-size: 22px;
}
.item-sales-card h6 {
  text-align: right;
  font-size: 32px;
  color: green;
}
.item-sales-card p {
  padding: 8px;
  padding-bottom: 15px;
}
.add-to-cart {
  background: rgba(255, 255, 255, 0.459);
  float: none;
  width: 375px;
  margin-left: -10px;
  height: 45px;
  border-top: groove 2px grey;
  border-bottom: groove 2px grey;
  box-shadow: inset 0 0 4px lightskyblue, 0 0 6px white, 0 0 3px lightskyblue; 
}
.save-item {
  float: left;
  width: 150px;
}
.add-item-to-cart {
  float: left;
  width: 150px;
  text-align: right;
  margin-left: 75px;
}
.main-link {
  color: lime;
  position: fixed;
  top: 50%;
  left: 40%;
  width: 20%;
}
.main-link a {
  font-size: 5rem;
  width: 100%;
  background: purple;
}





/* 

                            CELL PHONE PORTRAIT VIEW

 */





 @media only screen and (max-width: 500px) {
  body {
   

  }

  /* cob-menu */
  
  .cob-container {
  }
  .cob-menu {
  }
  .main-heading {
  }
  .cob-header h1 {
  }
  .celebration-images {
    width: 380px;
  }
  .celebration-images img {
    width: 300px;
  }

  .main-heading h1 {
    font-size: 77px;
  }
  .main-heading img {
    display: none;
  }
  .nav-menu {
    margin-top: 30px;
  }
  .nav-menu li {
    font-size: 24px;
  }
  .celebration-header h1 {
    font-size: 48px;
  }
  #journal {
    background: white;
    width: 350px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px white;
  }
  .date {
    font-family: 'Tangerine', cursive;
    font-size: 32px;
    padding: 20px;
  }
  .date p {
    color: black;
  }
  .entry {
    border-radius: 12px;
    padding: 8px;
    background: black;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 18px;
    box-shadow: inset 0 0 3px white, 0 0 2px #555;
  }
  .entry p {
    margin-top: 22px;
  }
  .entry video {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .music-1 {
    position: fixed;
    left: -1000px;

  }
}
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="widespread-container">

    
      <%- body %>
    </div>

<!-- 
    <script src="/logic/map-logic_1.js"></script>
   -->
<!-- Replace following script src -->
<!-- <script src="/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js">
</script>
 -->
<!-- Code Editor -->
<script>
  function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
</script>
<script>
  const first = document.querySelector(".first");
const iframe = document.querySelector("iframe");
const btn = document.querySelector("#code_btn");

btn.addEventListener("click", () => {
    var html = first.textContent;
    iframe.src = "data:text/html;charset=utf-8," + encodeURI(html);
});


first.addEventListener('keyup', () => {
    var html = first.textContent;
    iframe.src = "data:text/html;charset=utf-8," + encodeURI(html);
});

first.addEventListener("paste", function (e) {
    e.preventDefault();
    var text = e.clipboardData.getData("text/plain");
    document.execCommand("insertText", false, text);
});


</script>
<script>
  const showAddResourceForm = document.querySelector("#append-resource");
const input = document.querySelector("input");
const textarea = document.querySelector("button");

showAddResourceForm.addEventListener("click", () => {

})
</script>


<!-- Notes -->
<script>
  function Note(date, title, body) {
    this.date = date;
    this.title = title;
    this.body = body;
}
</script>
<script>
  const btnSave =
    document.getElementById('btnSave');
let notes = "";
init();

function init() {
    let out = "";
    let noteArray =
        JSON.parse(localStorage.getItem('noteData'));
    if (noteArray != null && noteArray != "") {
        noteArray =
            JSON.parse(localStorage.getItem('noteData'));
        for (let x = 0; x < noteArray.length; x++) {
            out += "<option value=" + x + ">";
            out += noteArray[x].title;
            out += "</option>";

            document.getElementById('noteMaster').innerHTML = out;
        }

        document.getElementById('btnWrite').addEventListener('click', function (e) {
            writeNote();
        });
        document.getElementById('noteMaster').addEventListener('click', function (e) {
            displayNote(e.target.value);
        });

        readNotes();
    } else {
        writeNote();
    }
}
function writeNote() {
    document.getElementById('read').style.display = "none";

    document.getElementById('write').style.display = "block";

    document.getElementById('noteTitle').value = "";

    document.getElementById('noteBody').value = "";

}

function readNotes() {
    document.getElementById('read').style.display = "block";

    document.getElementById('write').style.display = "block";

}

function displayNote(note) {
    let noteArray =
        JSON.parse(localStorage.getItem('noteData'));

    let out = "<h4>" + noteArray[note].title + "</h4>";
    out += "<h5>" + new Date(noteArray[note].date).toDateString() + "</h5>";
    out += "<p>" + noteArray[note].body + "</p>";
    out += "<button id='btnDelete'>Delete</button> "

    document.getElementById('noteDisplay').innerHTML = out;

    document.getElementById('btnDelete').onclick = function () {
        noteArray.splice(note, 1);
        localStorage.setItem('noteData', JSON.stringify(noteArray));
        init();
    }
};

btnSave.onclick = function () {
    const noteDate = new Date();
    const noteTitle = document.getElementById('noteTitle').value;
    const noteBody = document.getElementById('noteBody').value;
    const theNote = new Note(noteDate, noteTitle, noteBody);
    saveNotes(theNote);
}

function saveNotes(note) {
    let noteArray = JSON.parse(localStorage.getItem('noteData'));
    if (noteArray == null) {
        noteArray = new Array();
        noteArray.push(note);
    } else {
        noteArray.push(note);
    }
    localStorage.setItem('noteData', JSON.stringify(noteArray));
    readNotes();
    init();
}
</script>




<!-- OTHER  -->
<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ42MPk0Ua5QMFU_YLM1X_yoF6LVKTpPw&callback=initMap">
</script> -->
      
<!-- 
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ42MPk0Ua5QMFU_YLM1X_yoF6LVKTpPw&callback=initMap">
    </script> -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
