<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="5sb7wDuHomWcznqcG_a-X704L3Rc88LQRdnpbQGOFR4" />
    <title>WideSpread</title>
    <script src="ejs.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/style/style.css">
    <style>
      html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
      body {
        background: black;
        color: white;
        padding-top: 80px;
      }
      h1 {
        font-size: 32px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
      }
      /* WideSpread Welcome */
      .card {
        background: black;
      }
      .card p {
        padding-bottom: 20px;
      }
      .widespread-welcome {
        background: black;
      }
      .widespread-welcome h1 {
        color: black;
        font-size: 60px;
        text-shadow: 0 0 2px lightblue;
        padding: 0;
        padding-bottom: 80px;
      }



      /* Button  */
      button {
        border-radius: 8px;
        padding: 4px;
        border: solid 1px rgb(147, 161, 163);
        box-shadow: 0 0 2px white;
        margin-top: 5px;
        margin-bottom: 10px;
      }
      .zone-portal {
        background-image: linear-gradient(to top right, rgba(54, 52, 52, 0.452), rgba(71, 69, 64, 0.548), rgba(75, 71, 71, 0.295), rgba(84, 119, 143, 0.212), rgba(66, 118, 230, 0.384), transparent);
        padding: 5px;
        font-size: 24px;
        border: groove 2px white;
        border-radius: 8px;
      }
      .floor-one {
        width: 100%;
        height: 50px;
        color: white;
      }
      .floor-two {
        width: 100%;
        height: 50px;
        color: white;
      }
      .floor-one li {
        padding-top: 5px;
        width: 25%;
        float: left;
        list-style: none;
        height: 50px;
        cursor: pointer;
      }
      .floor-two li {
        padding-top: 5px;
        list-style: none;
        width: 25%;
        float: left;
        height: 50px;
        cursor: pointer;
      }
      .floor-one, .floor-two {
        text-align: center;
      }
      /* Top Spread Menu */
      .top-spread-menu {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        border-bottom: groove 2px white;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.568);
      }

      .top-spread-menu li {
        border-top: groove 2px white;
        background: rgb(115, 186, 207);
        width: 25%;
        float: left;
        text-align: center;
      }
      .top-spread-menu a {
        width: 25%;
        float: left;
      }
      /* SpreadBar */
      .spread-bar {
        background: rgba(255, 255, 255, 0.315);
        width: 100%;
        height: 50px;
      }
      .main-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
       float: left;
        box-shadow: 0 0 2px black;
        margin: 5px;
      }
      .main-icon:hover {
        box-shadow: 0 0 4px white;
      }
      .search {
        padding-top: 5px;
        width: 80%;
        float: left;
      }
      .search input {
        height: 38px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-left: 10px;
        width: 60%;
      }
      .search button {
        height: 38px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 30%;
      }
      #user_inventory {
        width: 10%;
        background: lime;
        float: left;
      }
      .spreadspace {
        width: 20%;
        float: left;
        text-align: center;
      }
      .spreadspace a {
        color: white;
        font-size: 18px;
        line-height: 50px;
      }
      .spreadspace a:hover {

        text-decoration: none;
      }
    
      .top-spread-menu li {
        text-align: center;
        list-style: none;
        width: 25%;
      }
      .top-spread-menu li a {
        width: 100%;
        text-align: center;
        font-size: 22px;
      }
      .top-spread-menu li a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: aqua
      }
      /* Image Headers */
.image-header-conatainer {
  width: 80vw;
  height: 200px;
}
.main-image {
  border: solid 3px rgb(0, 225, 255);
  border-radius: 8px;
  box-shadow: 0 0 4px white, inset 0 0 4px white;
  background: rgba(255, 255, 255, 0.233);
}
.main-image img {
  padding: 12px;
  border-radius: 18px;
}



      /* COVID-19 */
      .covid-header {
        width: 100%;
        height: 40px;
        background:  red;
      }
      .covid-header h1 {
        width: 100%;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        margin-top: 10px;
      }
      .covid-link {
        color: red;
        text-shadow: 0 0 1px #fff;
      }
      .covid-map {
        width: 100vw;
        height: 100vw;
      }
      #map {
        height: 100%;
        width: 100%;
        z-index: 0;
        margin-top: 20px;
      }

      /* 
      
      ACADEMY
      
       */

       #backpack {
         width: 200px;
       }
       #backpack h3 {
         color: yellow;
         font-size: 24px;
         padding-left: 5px;
       }
       .backpack-tool-item {
         margin-top: 10px;
         border-top: groove 2px white;
         border-bottom: groove 2px white;
       }
       #write {
         width: 100%;
       }
       .note-body {
         width: 100%;
       }
       #noteBody {
         width: 100%;
       }
       #noteDisplay {
         border-bottom-left-radius: 6px;
         border-bottom-right-radius: 6px;
         background: rgb(97, 97, 99);
         margin-bottom: 10px;
       }
       #noteDisplay h4 {
         font-size: 24px;
         border-bottom: solid 1px #555;
         text-align: center;
         font-weight: bolder;
       }
       #noteDisplay h5 {
        text-align: right;
        font-size: 12px;
         border-bottom: solid 1px #555;
         background: #333;
         color: white;
         box-shadow: 0 0 3px black;

       }
       #read {
         width: 100%;
       }
       #noteMaster {
         width: 100%;
         border-top-right-radius: 6px;
         border-top-left-radius: 6px;
       }
       #btnWrite {
         color: black;
         background: black;
         border: none;
         outline: none;
         box-shadow: none;
         border: none;
         cursor: pointer;
         height: 1px;
         width: 1px;
       }
       #btnDelete {
         background: red;
         color: white;
       }


       /*Code Editor*/
.desktop-container {
    width: 75vw;
    height: 80vh;
    background: rgba(255, 255, 255, 0.521);
    margin-top: 10vh;
    margin-left: 12.5vw;
    border-radius: 10px;
    box-shadow: inset 0 0 4px white, 0 0 4px white;
}

.editor-menu {
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: purple;
    z-index: 15;
}
.editor-menu li {
    color: #fff;
    float: left;
    width: 10%;
    margin-left: 6%;
    text-align: center;
    list-style: none;
    line-height: 50px;
}


.first {
    background: #fff;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vw;
    white-space: pre;
    box-shadow: 0 1px 1px rgb(22, 22, 22);
    outline: none;
    padding: 15px;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #fff, 0 0 5px #fff;
    transition: all .7s ease-out;
    transition-timing-function: ease-in-out;
    border-radius: 10px;
    border: solid 1px white;
    box-shadow: 0 0 10px white, inset 0 0 5px #000;
    margin-top: 20px;
}

.second {
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    white-space: pre;
    box-shadow: 0 0 10px rgb(255, 255, 255), inset 0 0 10px black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.editor-button {
  width: 100%;
  padding-top: 5px;
}
#code_btn {
  margin-left: 25%;
  width: 50%;
  background: blue;
  color: lightskyblue;

}

    </style>
  </head>
  <body>
    <div class="container">

    
      <%- body %>
    </div>

   
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: new google.maps.LatLng(42.3737591, -71.116534),
          mapTypeId: 'terrain'
        });

        // Create a <script> tag and set the USGS URL as the source.
    /*     var script = document.createElement('script');
        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
        script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      // Loop through the results array and place a marker for each
      // set of coordinates.
      window.eqfeed_callback = function(results) {
        for (var i = 0; i < results.features.length; i++) {
          var coords = results.features[i].geometry.coordinates;
          var latLng = new google.maps.LatLng(coords[1],coords[0]);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        } */
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

// Add some markers to the map.
// Note: The code uses the JavaScript Array.prototype.map() method to
// create an array of markers based on a given "locations" array.
// The map() method here has nothing to do with the Google Maps API.
var markers = locations.map(function(location, i) {
  return new google.maps.Marker({
    position: location,
    label: labels[i % labels.length],
    map:map
  });
});

// Add a marker clusterer to manage the markers.
var markerCluster = new MarkerClusterer(map, markers,
    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
}

/* TEST PURPOSES ONLY */
var locations = [

{lat: 41.604228, lng: -72.680534}
]
</script>
<!-- Replace following script src -->
<script src="/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js">
</script>

<!-- Code Editor -->
<script>
  const first = document.querySelector(".first");
const iframe = document.querySelector("iframe");
const btn = document.querySelector("#code_btn");

btn.addEventListener("click", () => {
    var html = first.textContent;
    iframe.src = "data:text/html;charset=utf-8," + encodeURI(html);
});


first.addEventListener('keyup', () => {
    var html = first.textContent;
    iframe.src = "data:text/html;charset=utf-8," + encodeURI(html);
});

first.addEventListener("paste", function (e) {
    e.preventDefault();
    var text = e.clipboardData.getData("text/plain");
    document.execCommand("insertText", false, text);
});


</script>
<script>
  const showAddResourceForm = document.querySelector("#append-resource");
const input = document.querySelector("input");
const textarea = document.querySelector("button");

showAddResourceForm.addEventListener("click", () => {

})
</script>


<!-- Notes -->
<script>
  function Note(date, title, body) {
    this.date = date;
    this.title = title;
    this.body = body;
}
</script>
<script>
  const btnSave =
    document.getElementById('btnSave');
let notes = "";
init();

function init() {
    let out = "";
    let noteArray =
        JSON.parse(localStorage.getItem('noteData'));
    if (noteArray != null && noteArray != "") {
        noteArray =
            JSON.parse(localStorage.getItem('noteData'));
        for (let x = 0; x < noteArray.length; x++) {
            out += "<option value=" + x + ">";
            out += noteArray[x].title;
            out += "</option>";

            document.getElementById('noteMaster').innerHTML = out;
        }

        document.getElementById('btnWrite').addEventListener('click', function (e) {
            writeNote();
        });
        document.getElementById('noteMaster').addEventListener('click', function (e) {
            displayNote(e.target.value);
        });

        readNotes();
    } else {
        writeNote();
    }
}
function writeNote() {
    document.getElementById('read').style.display = "none";

    document.getElementById('write').style.display = "block";

    document.getElementById('noteTitle').value = "";

    document.getElementById('noteBody').value = "";

}

function readNotes() {
    document.getElementById('read').style.display = "block";

    document.getElementById('write').style.display = "block";

}

function displayNote(note) {
    let noteArray =
        JSON.parse(localStorage.getItem('noteData'));

    let out = "<h4>" + noteArray[note].title + "</h4>";
    out += "<h5>" + new Date(noteArray[note].date).toDateString() + "</h5>";
    out += "<p>" + noteArray[note].body + "</p>";
    out += "<button id='btnDelete'>Delete</button> "

    document.getElementById('noteDisplay').innerHTML = out;

    document.getElementById('btnDelete').onclick = function () {
        noteArray.splice(note, 1);
        localStorage.setItem('noteData', JSON.stringify(noteArray));
        init();
    }
};

btnSave.onclick = function () {
    const noteDate = new Date();
    const noteTitle = document.getElementById('noteTitle').value;
    const noteBody = document.getElementById('noteBody').value;
    const theNote = new Note(noteDate, noteTitle, noteBody);
    saveNotes(theNote);
}

function saveNotes(note) {
    let noteArray = JSON.parse(localStorage.getItem('noteData'));
    if (noteArray == null) {
        noteArray = new Array();
        noteArray.push(note);
    } else {
        noteArray.push(note);
    }
    localStorage.setItem('noteData', JSON.stringify(noteArray));
    readNotes();
    init();
}
</script>




<!-- OTHER  -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ42MPk0Ua5QMFU_YLM1X_yoF6LVKTpPw&callback=initMap">
</script>
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ42MPk0Ua5QMFU_YLM1X_yoF6LVKTpPw&callback=initMap">
    </script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
