<h1>Math</h1>

<h2>Basic Math</h2>
<ul>
    <li><a href="/numbers">Nubers</a></li>
    <li><a href="/addition">Addition</a></li>
    <li><a href="/subtraction">Subtraction</a></li>
    <li><a href="/multiplication">Multiplication</a></li>
    <li><a href="/division">Division</a></li>
</ul>