<div class="top-spread-menu">
    <div class="spread-bar">
  
      <div class="search">
        <input type="text" placeholder="What can we help you find?"><button>Search</button>
      </div>
  <div class="spreadbar-icons">
  
    <div class="main-icon">
      <a href="/dashboard">
          <img height="40px" width="40px" src="/icons/home.png" alt="Home">
        </a>
      </div>
      <div class="main-icon">
        <a href="/messaging">
          <img height="40px" width="40px" src="/icons/alerts.png" alt="Home">
        </a>
      </div>
    </div>
    </div>
    <ul>
      
      
      <li><a class="covid-link" href="/covid-ar">COVID-AR</a></li>
      <li><a href="/socialspread">SocialSpread</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/storage">Storage</a></li>
    </ul>
  </div>


  <!-- Main Math Page -->

<h1>Maths</h1>

<h2>Basic Maths</h2>
<ul>
    <li><a href="/numbers">Numbers</a></li>
    <li><a href="/addition">Addition</a></li>
    <li><a href="/subtraction">Subtraction</a></li>
    <li><a href="/multiplication">Multiplication</a></li>
    <li><a href="/division">Division</a></li>
</ul>

<h2>Intermediate Maths</h2>
<ul>
  <li><a href="/academy/math/trigonometry">Trigonometry</a></li>
  <li><a href="/academy/math/algebra">Algebra</a></li>
  <li><a href="/academy/math/geometry">Geometry</a></li>
  <li><a href="/academy/math/topological-space">Topological Space</a></li>
  <li><a href="/academy/math/metric-space">Metric Space</a></li>
  <li><a href="/academy/math/complex-funtions">Complex Functions</a></li>
  <li><a href="/academy/math/real-functions">Real Functions</a></li>
  <li><a href="/academy/math/vector-space">Vector Space</a></li>
  <li><a href="/academy/math/measurable-space">Measurable Space</a></li>
  <li><a href="/academy/math/calculus">Calculus</a></li>
  <li><a href="/academy/math/tensor-calculus">Tensor Calculus</a></li>
  <li><a href="/academy/math/tensor-space">Tensor Space</a></li>
</ul>
