<h1>Media Home</h1>

<div class="page-nav">

    <li>
        <a href="/media/camera-1">Camera 1</a>
    </li>
    <li>
        <a href="/media/camera-2">Camera 2</a>
    </li>
    <li>
        <a href="/media/camera-3">Camera 3</a>
    </li>
    <li>
        <a href="/media/camera-4">Camera 4</a>
    </li>
    <li>
        <a href="/media/camera-5">Camera 5</a>
    </li>
</div>

<div class="page-nav">

    <li>
        <a href="/media/mic-1">Mic 1</a>
    </li>
    <li>
        <a href="/media/mic-2">Mic 2</a>
    </li>
</div>