<h1>Mens Clothing</h1>

<div class="clothing-department">
    <h3>Tops</h3>
    <ul>
        <li><a href="/shopping/clothing/men/t-shirts">T-Shirts</a></li>
        <li><a href="">Long Sleeve Shirts</a></li>
        <li><a href="">Undershirts</a></li>
        <li><a href="">Sweatshirts/Hoodies</a></li>
        <li><a href="">Sweaters</a></li>
        <li><a href="">Casual</a></li>
        <li><a href="">Business</a></li>
        <li><a href="">Suits</a></li>
        <li><a href="">Athletic</a></li>
        <li><a href="">Swimwear</a></li>
    </ul>
</div>

<div class="clothing-department">
    <h3>Bottoms</h3>
    <ul>
        <li><a href="">T-Shirts</a></li>
        <li><a href="">Long Sleeve Shirts</a></li>
        <li><a href="">Undershirts</a></li>
        <li><a href="">Sweatshirts/Hoodies</a></li>
        <li><a href="">Sweaters</a></li>
        <li><a href="">Casual</a></li>
        <li><a href="">Business</a></li>
        <li><a href="">Suits</a></li>
        <li><a href="">Athletic</a></li>
        <li><a href="">Swimwear</a></li>
    </ul>
</div>

<div class="clothing-department">
    <h3>Footwear</h3>
    <ul>
        <li><a href="">T-Shirts</a></li>
        <li><a href="">Long Sleeve Shirts</a></li>
        <li><a href="">Undershirts</a></li>
        <li><a href="">Sweatshirts/Hoodies</a></li>
        <li><a href="">Sweaters</a></li>
        <li><a href="">Casual</a></li>
        <li><a href="">Business</a></li>
        <li><a href="">Suits</a></li>
        <li><a href="">Athletic</a></li>
        <li><a href="">Swimwear</a></li>
    </ul>
</div>

<div class="clothing-department">
    <h3>Headgear</h3>
    <ul>
        <li><a href="">T-Shirts</a></li>
        <li><a href="">Long Sleeve Shirts</a></li>
        <li><a href="">Undershirts</a></li>
        <li><a href="">Sweatshirts/Hoodies</a></li>
        <li><a href="">Sweaters</a></li>
        <li><a href="">Casual</a></li>
        <li><a href="">Business</a></li>
        <li><a href="">Suits</a></li>
        <li><a href="">Athletic</a></li>
        <li><a href="">Swimwear</a></li>
    </ul>
</div>

<div class="clothing-department">
    <h3>Accessories</h3>
    <ul>
        <li><a href="">T-Shirts</a></li>
        <li><a href="">Long Sleeve Shirts</a></li>
        <li><a href="">Undershirts</a></li>
        <li><a href="">Sweatshirts/Hoodies</a></li>
        <li><a href="">Sweaters</a></li>
        <li><a href="">Casual</a></li>
        <li><a href="">Business</a></li>
        <li><a href="">Suits</a></li>
        <li><a href="">Athletic</a></li>
        <li><a href="">Swimwear</a></li>
    </ul>
</div>