<h1>Mens Clothing</h1>

<div class="clothing-department">
    <h3>Tops</h3>

    <div class="page-nav">

        <ul>
            <li><a href="/shopping/clothing/men/t-shirts">T-Shirts</a></li>
            <li><a href="">Long Sleeve Shirts</a></li>
            <li><a href="">Undershirts</a></li>
            <li><a href="">Sweatshirts/Hoodies</a></li>
            <li><a href="">Sweaters</a></li>
            <li><a href="">Casual</a></li>
            <li><a href="">Business</a></li>
            <li><a href="">Suits</a></li>
            <li><a href="">Athletic</a></li>
            <li><a href="">Swimwear</a></li>
        </ul>
    </div>
</div>

<div class="clothing-department">
    <h3>Bottoms</h3>
    <div class="page-nav">

        <ul>
            <li><a href="">Shorts</a></li>
            <li><a href="">Dress Pants</a></li>
            <li><a href="">Sweatpants</a></li>
            <li><a href="">Jeans</a></li>
            <li><a href="">Pajama Bottoms</a></li>
            <li><a href="">Sportswear</a></li>
            <li><a href="">Swimwear</a></li>
        </ul>
    </div>
</div>

<div class="clothing-department">
    <h3>Footwear</h3>
    <div class="page-nav">

        <ul>
            <li><a href="">Socks</a></li>
            <li><a href="">Shoe Accessories</a></li>
            <li><a href="">Sneakers</a></li>
            <li><a href="">Sandals</a></li>
            <li><a href="">Dress Shoes</a></li>
            <li><a href="">Hiking Boots</a></li>
            <li><a href="">Work Boots</a></li>
            <li><a href="">Winter Boots</a></li>

        </ul>
    </div>
</div>

<div class="clothing-department">
    <h3>Headgear</h3>
    <div class="page-nav">

        <ul>
            <li><a href="">Baseball Fitted</a></li>
            <li><a href="">Trucker</a></li>
            <li><a href="">Winter</a></li>
            <li><a href="">Sweatbands</a></li>
            <li><a href="">Sunglasses</a></li>
            <li><a href="">Eyeglasses</a></li>
            <li><a href="">Scarfs</a></li>
            <li><a href="">Facemasks</a></li>

        </ul>
    </div>
</div>

<div class="clothing-department">
    <h3>Accessories</h3>
    <div class="page-nav">

        <ul>
            <li><a href="">Watches</a></li>
            <li><a href="">Bracelets</a></li>
            <li><a href="">Belts</a></li>
            <li><a href="">Suspenders</a></li>
            <li><a href="">Pocket Squares</a></li>
            <li><a href="">Cufflinks</a></li>

        </ul>
    </div>
</div>

<div class="product-options">
    <a href="/shopping/all-products">All Products</a>
</div>