<div class="top-spread-menu">
    <div class="spread-bar">
  
      <div class="search">
        <input type="text" placeholder="What can we help you find?"><button>Search</button>
      </div>
  <div class="spreadbar-icons">
  
    <div class="main-icon">
      <a href="/dashboard">
          <img height="40px" width="40px" src="/icons/home.png" alt="Home">
        </a>
      </div>
      <div class="main-icon">
        <a href="/messaging">
          <img height="40px" width="40px" src="/icons/alerts.png" alt="Home">
        </a>
      </div>
    </div>
    </div>
    <ul>
      
      
      <li><a class="covid-link" href="/covid-ar">COVID-AR</a></li>
      <li><a href="/socialspread">SocialSpread</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/storage">Storage</a></li>
    </ul>
  </div>

<h1>Messaging</h1>

<h2>Text</h2>
<h2>Email</h2>
<h2>Voicemail</h2>
<h2>Social Alerts</h2>
<h2>IoT</h2>
<h2>Emergency</h2>
<h2>Home</h2>
<h2>Business</h2>
<h2>Calandar</h2>
<h2>Other</h2>