<!-- <div class="jumbotron">
  <textarea
    name="write_message"
    id="write_message"
    class="form-control"
    cols="30"
    rows="10"
    placeholder="Enter a message..."
  ></textarea>
  <button id="send_message" class="success">Send</button>
</div>
<div id="new_messages"></div>
 -->

 <ul id="messages"></ul>
 <form action="">
   <input id="m" autocomplete="off" /><button>Send</button>
 </form>