<!-- <div class="background-conference-container">
  <img src="/entertainment/golf/background_cell-portrait_1a1a1a.jpg" alt="">
</div>
 -->

<h1>Messaging</h1>

<div class="message-area">


     <textarea
     name="write_message"
     id="write_message"
     class="form-control"
     cols="30"
     rows="10"
     placeholder="Enter a message..."
     ></textarea>
     <button id="send_message" class="success">Send</button>
    
    <div id="new_messages"></div>
  </div>

 <div class="contact-bar">
   <div class="message-bar-type">
     <div class="message-type">Add New Contact</div>
     <div class="message-type">SocialSpread</div>
     <div class="message-type">Email</div>
     <div class="message-type">Text</div>
     <div class="message-type">Video</div>
     <div class="message-type">Call</div>
   </div>
 </div>