<!-- <div class="jumbotron">
  <textarea
    name="write_message"
    id="write_message"
    class="form-control"
    cols="30"
    rows="10"
    placeholder="Enter a message..."
  ></textarea>
  <button id="send_message" class="success">Send</button>
</div>
<div id="new_messages"></div>
 -->

<div id="message-container"></div>
<form id="send-container">
  <textarea
    name="message-input"
    id="message-input"
    cols="30"
    rows="10"
    placeholder="Create a new message..."
  ></textarea>
  <button type="submit" id="send-button">Send</button>
</form>
