<h1>Multiplication</h1>
<div class="list-nav">
    <ul>
        <li><a href="/academy/math/multiplication/learning-to-subtract">Learning to Multiply</a></li>
        <li><a href="/academy/math/multiplication/real-life-multiplication">Real-Life Multiplication</a></li>
        <li><a href="/academy/math/multiplication/multiplying-bigger-numbers">Multiplying Bigger Numbers</a></li>
    </ul>
</div>