<div class="top-spread-menu">
    <div class="spread-bar">
  
      <div class="search">
        <input type="text" placeholder="What can we help you find?"><button>Search</button>
      </div>
  <div class="spreadbar-icons">
  
    <div class="main-icon">
      <a href="/dashboard">
          <img height="40px" width="40px" src="/icons/home.png" alt="Home">
        </a>
      </div>
      <div class="main-icon">
        <a href="/messaging">
          <img height="40px" width="40px" src="/icons/alerts.png" alt="Home">
        </a>
      </div>
    </div>
    </div>
    <ul>
      <li><a href="/socialspread">SocialSpread</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/storage">Storage</a></li>
    </ul>
  </div>

<h1>Music</h1>

<div id="musicStreamContainer">
  <div id="musicCollections">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>
  <div id="currentPlaylist">
      <ul>
        <li>Home - Marshmello</li>
        <li>Jason Witten - Trell ft. T Float</li>
        <li>Love Sosa (Trap Remix) - Chief Keef</li>
        <li>Find Me - Marshmello</li>
        <li>Last Man Standing - Asher Roth ft. Akon</li>
        <li>On To The Next One - Jay Z ft. Swizz Beatz</li>
        <li>I Cry - Flo Rida</li>
      </ul>
  </div>
  <div id="currentMedia">
    <audio controls>
      <source src="/music/artists/audio/flexfloor_teaser-cameo_audio_1a1a1a.mp3" type="audio/mp3">
      <source src="/music/artists/audio/MixPitbull.mp3" type="audio/mp3">
    Your browser does not support the audio element.
    </audio>
  </div>
  <div id="currentController">
    <div id="top-menu">
      <ul>
        <li>Settings</li>
        <li>Social</li>
        <li>Bluetooth</li>
      </ul>
    </div>
    <div id="mainControls">
      <div class="prev">Prev</div>
      <div class="play">Play</div>
      <div class="next">Next</div>
    </div>
  </div>
</div>


<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<br>
<div id="lyricsList">
  <h4>Lyrics</h4>
<img id="drag1" src="/site/button_blue-round-transparent_1a.png" draggable="true" ondragstart="drag(event)" width="80" height="80">
<img id="drag2" src="/site/button_blue-round-transparent_1a.png" draggable="true" ondragstart="drag(event)" width="80" height="80">
<img id="drag3" src="/site/button_blue-round-transparent_1a.png" draggable="true" ondragstart="drag(event)" width="80" height="80">
</div>