<h1>Trell</h1>

<h2>Singles</h2>

<ol>
    <li>
        <audio controls>
            <source src="/audio/trell/trell_shady_1a1a1a-1.mp3" type="audio/mp3">
          Your browser does not support the audio element.
          </audio>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ol>