

<h1>Music</h1>
<div class="music-selector-container">
  <div class="music-selector-slider">
    <div class="music-selector">
      <div class="music-selection">
        <ul>
          <li>Symphonies</li>
          <li>Classical</li>
          <li>Jazz</li>
          <li>German</li>
          <li>Latin</li>
          <li>Reggeton</li>
          <li>R & B</li>
          <li>Hip-Hop</li>
          <li>Classic Rock</li>
          <li>Rock</li>
          <li>EDM</li>
          <li>International Sounds</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<form action="/music/add" method="POST">
  <div class="spread-group">
    <label for="name">File Name</label>
    <input
      type="file"
      id="single"
      name="single"
      class="form-control"
      placeholder="Select Songs"
      value=""
    />
  </div>
  <button type="submit">Upload</button>
</form>
<div id="newArtists">
  <ul>
    <li><a href="/music/trell">Trell</a></li>
    <li><a href="/music/justice">Justice</a></li>
    <li><a href="/music/renzo">Renzo</a></li>
    <li><a href="/music/dvo">Dave Olson</a></li>
    <li><a href="/music/jess-bartolotta">Jess Bartolotta</a></li>
  </ul>
</div>
<div id="musicStreamContainer">
  <div id="musicCollections">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>
  <div id="currentPlaylist">
      <ul>
        <li>Home - Marshmello</li>
        <li>Jason Witten - Trell ft. T Float</li>
        <li>Love Sosa (Trap Remix) - Chief Keef</li>
        <li>Find Me - Marshmello</li>
        <li>Last Man Standing - Asher Roth ft. Akon</li>
        <li>On To The Next One - Jay Z ft. Swizz Beatz</li>
        <li>I Cry - Flo Rida</li>
      </ul>
  </div>
  
  <div id="currentMedia">
    <audio controls>
      <source src="/music/artists/audio/flexfloor_teaser-cameo_audio_1a1a1a.mp3" type="audio/mp3">
      <source src="/music/artists/audio/MixPitbull.mp3" type="audio/mp3">
    Your browser does not support the audio element.
    </audio>
  </div>
  
  <div id="currentController">
    <div id="top-menu">
      <ul>
        <li>Settings</li>
        <li>Social</li>
        <li>Bluetooth</li>
      </ul>
    </div>
    <div id="mainControls">
      <div class="prev">Prev</div>
      <div class="play">Play</div>
      <div class="next">Next</div>
    </div>
  </div>
</div>


