<h1>Trell</h1>

<div class="music-header">
    <h2>Singles</h2>
</div>


<div class="top-five">

    <ol>
        <li>
            <p>Shady</p>
            <audio controls>
                <source src="/audio/trell/trell_shady_1a1a1a-1.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <p>Shady</p>
                <audio controls>
                    <source src="/audio/trell/trell_shady_1a1a1a-1.mp3" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                </li>
                <li>
                    <p>Shady</p>
        <audio controls>
            <source src="/audio/trell/trell_shady_1a1a1a-1.mp3" type="audio/mp3">
                Your browser does not support the audio element.
          </audio>
        </li>
        <li>
            <p>Shady</p>
            <audio controls>
                <source src="/audio/trell/trell_shady_1a1a1a-1.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </li>
            <li>
                <p>Shady</p>
        <audio controls>
            <source src="/audio/trell/trell_shady_1a1a1a-1.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        </li>
    </ol>
</div>
<div class="music-header">
    <h2>About Trell</h2>
</div>
<div class="spreadlink">
    <p><a href="/users/profile/trell">Trell's Spread</a></p>
</div>
<div class="music-p">
    <p>Hometown: Cromwell, CT USA</p>
    <p>Age: 20</p>
    <p>Genre: Rap - R&B</p>
</div>

<div class="music-p">
    <p>Trell has been in the rap game for a few years. He's done shows in CT and NY. He has a few albumns ranging from Rap to R & B.</p>
    <p>Add more stuff</p>
    <p>Add more stuff</p>
    <p>Add more stuff</p>
</div>
<div class="music-upcoming">
    <table>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>City</th>
            <th>Venue</th>
            <th>Tickets</th>
        </tr>
        <tr>
            <td>7/17/2020</td>
            <td>8:00pm</td>
            <td>Hartford, CT</td>
            <td>Xfinity Center</td>
            <td><button>Tickets</button></td>
        </tr>
        <tr>
            <td>7/24/2020</td>
            <td>8:00pm</td>
            <td>Hartford, CT</td>
            <td>Xfinity Thearter</td>
            <td><button>Tickets</button></td>
        </tr>
        <tr>
            <td>7/24/2020</td>
            <td>11:30pm</td>
            <td>Hartford, CT</td>
            <td>Up or On the Rocks</td>
            <td><button>Tickets</button></td>
        </tr>
        <tr>
            <td>7/31/2020</td>
            <td>5:00pm</td>
            <td>New York City, NY</td>
            <td>Madison Square Garden</td>
            <td><button>Tickets</button></td>
        </tr>

    </table>
</div>