<h1>Numbers</h1>

<div style="background: white; color: black;" class="slider-container">
    <div class="slider">
        <ul>
            <li>
                <div class="slider-item">
                    <h3>Number</h3>
                    <!-- <h1>1</h1> -->
                    <div class="image-container">
                        <img style="margin-top: -50px;" src="/academy/math/numbers/numbers_1_1a1a1a.png" alt="1">
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <h3>Number</h3>
                    <!-- <h1>2</h1> -->
                    <div class="image-container">
                    <img src="/academy/math/numbers/numbers_2_1a1a1a.png" alt="2">
                </div>
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <h3>Number</h3>
                    <!-- <h1>3</h1> -->
                    <div class="image-container">

                        <img src="/academy/math/numbers/numbers_3_1a1a1a.png" alt="3">
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <h3>Number</h3>
                    <!-- <h1>4</h1> -->
                    <div class="image-container">

                        <img src="/academy/math/numbers/numbers_4_1a1a1a.png" alt="4">
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <h3>Number</h3>
                    <!-- <h1>5</h1> -->
                    <div class="image-container">

                        <img src="/academy/math/numbers/numbers_5_1a1a1a.png" alt="5">
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <h3>Number</h3>
                    <!-- <h1>6</h1> -->
                    <div class="image-container">

                        <img src="/academy/math/numbers/numbers_6_1a1a1a.png" alt="6">
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <h3>Number</h3>
                    <!-- <h1>7</h1> -->
                    <div class="image-container">

                        <img src="/academy/math/numbers/numbers_7_1a1a1a.png" alt="7">
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <h3>Number</h3>
                    <!-- <h1>8</h1> -->
                    <div class="image-container">

                        <img src="/academy/math/numbers/numbers_8_1a1a1a.png" alt="8">
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <h3>Number</h3>
                    <!-- <h1>9</h1> -->
                    <div class="image-container">

                        <img src="/academy/math/numbers/numbers_9_1a1a1a.png" alt="9">
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <h3>Number</h3>
                    <!-- <h1>10</h1 -->>
                    <div class="image-container">

                        <img src="/academy/math/numbers/numbers_10_1a1a1a.png" alt="10">
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
