<div class="top-spread-menu">
  <div class="spread-bar">

    <div class="search">
      <input type="text" placeholder="What can we help you find?"><button>Search</button>
    </div>
<div class="spreadbar-icons">

  <div class="main-icon">
    <a href="/dashboard">
        <img height="40px" width="40px" src="/icons/home.png" alt="Home">
      </a>
    </div>
    <div class="main-icon">
      <a href="/messaging">
        <img height="40px" width="40px" src="/icons/alerts.png" alt="Home">
      </a>
    </div>
  </div>
  </div>
  <ul>
    
    
    <li><a class="covid-link" href="/covid-ar">COVID-AR</a></li>
    <li><a href="/socialspread">SocialSpread</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/storage">Storage</a></li>
  </ul>
</div>

<h1>Programming</h1>
<div class="academy-subject-menu">
  <ul>
    <li><a href="/html">HTML</a></li>
    <li><a href="/css">CSS</a></li>
    <li><a href="/javascript">Javascript</a></li>
    <li><a href="/sql">SQL</a></li>
    <li><a href="/ajax">AJAX</a></li>
    <li><a href="/json">JSON</a></li>
    <li><a href="/mongodb">MongoDB</a></li>
    <li><a href="/api-libraries">API's</a></li>
    <li><a href="/c-sharp">C#</a></li>
    <li><a href="/cpp">C++</a></li>
  </ul>
</div>

<!-- Code Editor -->

<div class="main-editor">
    <div class="first" contenteditable spellcheck="false"></div>

    <iframe class="second">
    </iframe>

    <div class="editor-button">
        <button id="code_btn" class="btn">Run</button>
    </div>

</div>

<!-- ^^^ Code Editor ^^^ -->

<!-- File Explorer -->

<div class="code-editor-file-explorer-container">
  <ul>
    <li>> config</li>
    <li>> data</li>
    <li>> models</li>
    <li>> node_modules</li>
    <li>> public</li>
    <li>> routes</li>
    <li>> views</li>
    <li>app.js</li>
    <li>CNAME</li>
    <li>package-lock.json</li>
    <li>package.json</li>
    <li>README.md</li>
    <li>users.md</li>
  </ul>
</div>