<h1>Programming</h1>

<div class="main-editor">
    <div class="first" contenteditable spellcheck="false"></div>
    <iframe class="second">
    </iframe>
    <div class="editor-button">
        <button id="code_btn" class="btn">Run</button>
    </div>
</div>