<div class="top-spread-menu">
    <div class="spread-bar">
  
      <div class="search">
        <input type="text" placeholder="What can we help you find?"><button>Search</button>
      </div>
  
      <div class="spreadspace">
        <a href="/spreadspace">SpreadSpace</a>
      </div>
  <!--     <div class="home-icon">
        <a href="/dashboard">
          <img height="50px" width="50px" src="../public/icons/home.png" alt="Home">
        </a>
      </div> -->
    </div>
    <ul>
      
      
      <li><a class="covid-link" href="/covid-ar">COVID-AR</a></li>
      <li><a href="/socialspread">SocialSpread</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/storage">Storage</a></li>
    </ul>
  </div>

<h1>Programming</h1>

<div class="main-editor">
    <div class="first" contenteditable spellcheck="false"></div>
    <iframe class="second">
    </iframe>
    <div class="editor-button">
        <button id="code_btn" class="btn">Run</button>
    </div>
</div>