

<h1>Programming</h1>
<div class="page-nav">
  <ul>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/html/logo_html_1a1a1a.png" alt="HTML Logo">      
      </div>
      <a href="/html">HTML</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/css/logo_css_1a1a1a.png" alt="CSS Logo">      
      </div>
      <a href="/css">CSS</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/node-js/logo_node-js_1a1a1a.png" alt="HTML Logo">      
      </div>
      <a href="/javascript">NodeJS</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/sql/logo_my-sql_1a1a1a.png" alt="SQL Logo">      
      </div>
      <a href="/sql">mySQL</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/ajax/logo_ajax_1a1a1a.png" alt="AJAX Logo">      
      </div>
      <a href="/ajax">AJAX</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/json-ld/logo_json-ld_1a1a1a.png" alt="JSON Logo">      
      </div>
      <a href="/json">JSON-LD</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/mongodb/logo_mongo-db_1a1a1a.png" alt="MongoDB Logo">      
      </div>
      <a href="/mongodb">MongoDB</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/mongodb/logo_mongoose-js_1a1a1a.png" alt="MongooseJS Logo">      
      </div>
      <a href="/mongoose">Mongoose</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/api/logo_api_1a1a1a.png" alt="API Logo">      
      </div>
      <a href="/api">API's</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/cpp/logo_cpp_1a1a1a.png" alt="C++ Logo">      
      </div>
      <a href="/cpp">C++</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/c-sharp/logo_c-sharp_1a1a1a.png" alt="C# Logo">      
      </div>
      <a href="/c-sharp">C#</a>
    </li>
    <li>
      <div class="class-header">
        <img src="/academy/computer-science/lisp/logo_lisp_1a1a1a.png" alt="LISP Logo">      
      </div>
      <a href="/lisp">LISP</a>
    </li>


    <li><a href="/c-sharp">C#</a></li>
    <li><a href="/cpp">C++</a></li>
  </ul>
</div>

<!-- Code Editor -->
<div class="spread-app">
  <h3>Code Editor</h3>
</div>
<!-- File Explorer -->

<div class="code-editor-file-explorer-container">
  <div class="code-editor-file-explorer">
    <ul>
      <li>v config</li>
      <li>v data</li>
      <li>v models</li>
      <li>v node_modules</li>
      <li>v public</li>
      <li>v routes</li>
      <li>v views</li>
      <li>app.js</li>
      <li>CNAME</li>
      <li>package-lock.json</li>
      <li>package.json</li>
      <li>README.md</li>
      <li>users.md</li>
    </ul>
  </div>
  </div>
<div class="main-editor">
    <div class="first" contenteditable spellcheck="false"></div>

    <iframe class="second">
    </iframe>

    <div class="editor-button">
        <button id="code_btn" class="btn">Run</button>
    </div>

</div>

<!-- ^^^ Code Editor ^^^ -->

