

<h1>Programming</h1>
<div class="page-nav">
  <ul>
    <li><a href="/html">HTML</a></li>
    <li><a href="/css">CSS</a></li>
    <li><a href="/javascript">Javascript</a></li>
    <li><a href="/sql">SQL</a></li>
    <li><a href="/ajax">AJAX</a></li>
    <li><a href="/json">JSON</a></li>
    <li><a href="/mongodb">MongoDB</a></li>
    <li><a href="/api-libraries">API's</a></li>
    <li><a href="/c-sharp">C#</a></li>
    <li><a href="/cpp">C++</a></li>
  </ul>
</div>

<!-- Code Editor -->
<div class="spread-app">
  <h3>Code Editor</h3>
</div>
<!-- File Explorer -->

<div class="code-editor-file-explorer-container">
  <div class="code-editor-file-explorer">
    <ul>
      <li>v config</li>
      <li>v data</li>
      <li>v models</li>
      <li>v node_modules</li>
      <li>v public</li>
      <li>v routes</li>
      <li>v views</li>
      <li>app.js</li>
      <li>CNAME</li>
      <li>package-lock.json</li>
      <li>package.json</li>
      <li>README.md</li>
      <li>users.md</li>
    </ul>
  </div>
  </div>
<div class="main-editor">
    <div class="first" contenteditable spellcheck="false"></div>

    <iframe class="second">
    </iframe>

    <div class="editor-button">
        <button id="code_btn" class="btn">Run</button>
    </div>

</div>

<!-- ^^^ Code Editor ^^^ -->

