<h1>Shopping</h1>
<div class="shopping-bar">
    <div class="current-cart">
        <div id="total-items"><p>1</p></div>
        <div id="total-item-price"><p>$369.99</p></div>
        <div class="main-checkout-button">
            <a href="/shopping/cart">
                <button><img src="/shopping/icon/shopping-cart_1a1a1a.png" alt=""></button>
            </a>
        </div>
    </div>
</div>
<div class="page-nav">

    <ul>
        <li><a href="/shopping/clothing">Clothing</a></li>
        <li><a href="/shopping/grocery">Grocery</a></li>
        <li><a href="/shopping/real-estate">Real Estate</a></li>
        <li><a href="/shopping/services">Services</a></li>
        <li><a href="/shopping/pharmacy">Pharmacy</a></li>
        <li><a href="/shopping/home-goods">Home Goods</a></li>
        <li><a href="/shopping/electronics">Electronics</a></li>
        <li><a href="/shopping/office">Office</a></li>
        <li><a href="/shopping/furniture">Furniture</a></li>
        <li><a href="/shopping/automotive">Auto</a></li>
        <li><a href="/shopping/travel">Travel</a></li>
        <li><a href="/shopping/holiday">Holiday</a></li>
        <li><a href="/shopping/tools">Tools</a></li>
        <li><a href="/shopping/sporting-goods">Sporting Goods</a></li>
        <li><a href="/shopping/cleaning">Cleaning</a></li>
        <li><a href="/shopping/appliances">Appliances</a></li>
        <li><a href="/shopping/crafts">Crafts</a></li>
        <li><a href="/shopping/chemicals">Chemicals</a></li>
    </ul>
</div>


<div class="product-options">
    <a href="/shopping/all-products">All Products</a>
</div>