<h1>SocialSpread</h1>


<div class="spread-alerts">
    <p>This is where all the alerts from social media feeds will live</p>
</div>

<div class="spread-friends">
    <ul>
        <li>
            <a href="/user/profile/trell">
                <div class="spread-contact">
                    <div class="spread-contact-image">
                        <img src="/user/profile/user-profile_trell_1a1a1a.jpg" alt="Trell">
                    </div>
                    <div class="spread-contact-name">
                        <p>Trell</p>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/user/profile/trell">
                <div class="spread-contact">
                    <div class="spread-contact-image">
                        <img src="/user/profile/user-profile_trell_1a1a1a.jpg" alt="Trell">
                    </div>
                    <div class="spread-contact-name">
                        <p>Trell</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>


<div class="add-social-account">
    <p>Add a new Social Media outlet to your SocialSpread Tunnel.</p>
    <form action="">
        <input type="button" value="Facebook">
        <input type="button" value="Instagram">
        <input type="button" value="Snapchat">
        <input type="button" value="Pinterest">
        <input type="button" value="LinkedIn">
        <input type="button" value="YouTube">
        <input type="button" value="TikTok">
        <input type="button" value="GitHub">
    </form>
</div>