<h1>SpreadShield Control</h1>

<div class="background-image-container">
    <div class="background-image-widespread-mist">
      <img src="/site/widespread-logo_backdrop.png" alt="WideSpread Mist">
    </div>
    <div class="background-image-widespread-logo">
      <img src="/site/widespread_logo_1d.png" alt="WideSpread Logo">
    </div>
  </div>
  
<div class="spreadshield-control">

</div>