<h1>SpreadShield</h1>

<div class="background-image-container">
    <div class="background-image-widespread-mist">
      <img src="/site/widespread-logo_backdrop.png" alt="WideSpread Mist">
    </div>
    <div class="background-image-widespread-logo">
      <img src="/site/widespread_logo_1d.png" alt="WideSpread Logo">
    </div>
  </div>

  <div class="car-options">
    <ul>
      <li><a href="/spreadshield/garage">Garage</a></li>
      <li><a href="/spreadshield/levels">Levels</a></li>
      <li><a href="/spreadshield/comfort">Comfort</a></li>
      <li><a href="/spreadshield/gps">GPS</a></li>
      <li><a href="/spreadshield/settings">Settings</a></li>
      <li><a href="/spreadshield/schedule">Schedule</a></li>
    </ul>
  </div>