<h1>Subtraction</h1>
<div class="list-nav">
    <ul>
        <li><a href="/academy/math/subtraction/learning-to-subtract">Learning to Subtract</a></li>
        <li><a href="/academy/math/subtraction/real-life-subtraction">Real-Life Subtraction</a></li>
        <li><a href="/academy/math/subtraction/subtracting-bigger-numbers">Subtracting Bigger Numbers</a></li>
    </ul>
</div>