<h1>T-Shirts</h1>

<div class="item-sales-card">
    <div class="image-slider-container">
        <div class="image-slider">
            <img src="/shopping/clothing/men/mens_t-shirt_streaker-v-neck_1a1a1a.jfif">
            <img src="/shopping/clothing/men/mens_t-shirt_streaker-v-neck_1a1a2a.jfif">
        </div>
    </div>
    <h3>UnderArmour</h3>
    <h5>Streaker V-Neck</h5>
    <h6>$35.99</h6>
    <p>Body: 93% Polyester/7% Elastarell</p>
    <div class="add-to-cart">
        <div class="save-item">
            <button>Save</button>
        </div>
        <div class="add-item-to-cart">
            <button>Add to Cart</button>
        </div>
    </div>
</div>