<div class="top-spread-menu">
    <div class="spread-bar">
  
      <div class="search">
        <input type="text" placeholder="What can we help you find?"><button>Search</button>
      </div>
  <div class="spreadbar-icons">
  
    <div class="main-icon">
      <a href="/dashboard">
          <img height="40px" width="40px" src="/icons/home.png" alt="Home">
        </a>
      </div>
      <div class="main-icon">
        <a href="/messaging">
          <img height="40px" width="40px" src="/icons/alerts.png" alt="Home">
        </a>
      </div>
    </div>
    </div>
    <ul>
      
      
      <li><a class="covid-link" href="/covid-ar">COVID-AR</a></li>
      <li><a href="/socialspread">SocialSpread</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/storage">Storage</a></li>
    </ul>
  </div>


<div class="subject-index">
    <ul>
        <li><a href="">The Triangle</a></li>
        <li><a href="">Triangle Inequality Theorem</a></li>
        <li><a href="">Interactive Triangles</a></li>
        <li><a href="">Introduction to Trigonometry</a></li>
        <li><a href="/academy/math/trigonometry/sin-cos-tan">Sine, Cosine & Tangent</a></li>
        <li><a href="">Sohcahtoa</a></li>
        <li><a href="">Sine Graph</a></li>
        <li><a href="">Graphs of Sin, Cos & Tan</a></li>
        <li><a href="">Unit Circle</a></li>
        <li><a href="">Interactive Unit Circle</a></li>
        <li><a href="">Sin, Cos & Tan in Four Quadrants</a></li>
        <li><a href="">Inverse Sin, Cos & Tan</a></li>
        <li><a href="">Solving Triangles by Reflection</a></li>
        <li><a href="">Finding an Angle in a Right Triangle</a></li>
        <li><a href="">Finding a Side in a Right Triangle</a></li>
        <li><a href="">Congruent Triangles</a></li>
        <li><a href="">Similar Triangles</a></li>
        <li><a href="">How to Find if Triangles are Similar</a></li>
        <li><a href="">Theorems about Similar Triangles</a></li>
        <li><a href="">Mean Proportional</a></li>
        <li><a href="">Solving Triangles</a></li>
        <li><a href="">The Law of Sines</a></li>
        <li><a href="">The Law of Cosines</a></li>
        <li><a href="">The Three Angles Add to 180deg</a></li>
        <li><a href="">Exterior Angle Theorem</a></li>
        <li><a href="">Solving AAA Triangles</a></li>
        <li><a href="">Solving AAS Triangles</a></li>
        <li><a href="">Solving ASA Triangles</a></li>
        <li><a href="">Solving SAS Triangles</a></li>
        <li><a href="">Solving SSA Triangles</a></li>
        <li><a href="">Solving SSS Triangles</a></li>
        <li><a href="">Triangle Solving Practice</a></li>
        <li><a href="">Area of a Triangle</a></li>
        <li><a href="">Heron's Fomula</a></li>
        <li><a href="">Trigonometric Identities</a></li>
        <li><a href="">Magic Hexagon</a></li>
        <li><a href="">Triangle Identities</a></li>
    </ul>
</div>