<h1>Wellness</h1>
<div class="page-nav">
    <ul>
        <li><a href="/wellness/medical">Medical</a></li>
        <li><a href="/wellness/fitness">Fitness</a></li>
        <li><a href="/wellness/yoga">Yoga</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
</div>
