<h1>Yoga</h1>
<div class="page-nav">
    <ul>
        <li><a href="/wellness">Wellness Home</a></li>
        <li><a href="/wellness/yoga/introduction">Introduction</a></li>
        <li><a href="/wellness/yoga/classes">Classes</a></li>
        <li><a href="/wellness/yoga/instructors">Instructors</a></li>
        <li><a href="/wellness/yoga/clothing">Clothing</a></li>
        <li><a href="/wellness/yoga/yoga-atmosphere">Atmosphere</a></li>
        <li><a href="/wellness/yoga/yoga-help">Help</a></li>
        <li><a href="/wellness/yoga/yoga-contact">Contact</a></li>
    </ul>
</div>

<div class="go-now-container">
    <img src="/wellness/yoga/background/yoga-go_1a1a2a.png" alt="Yoga Background">
    <a href="/wellness/yoga/classroom">
        <div class="go-now">
            <h2>Go Now!</h2>
        </div>
    </a>
</div>
