<h1>Purnama Home</h1>
<div class="purnama-nav">

    <ul>
        <li><a href="/wellness/yoga/instructors/purnama/about-us">About Us</a></li>
        <li><a href="/wellness/yoga/instructors/purnama/mission-statement">Mission Statement</a></li>
        <li><a href="/wellness/yoga/instructors/purnama/classes">Classes</a></li>
        <li><a href="/wellness/yoga/instructors/purnama/schedule">Schedule</a></li>
        <li><a href="/wellness/yoga/instructors/purnama/live">Live</a></li>
    </ul>
</div>

<div class="name-slider">

    <ul>
        <li>
            <a href="/wellness/yoga/instructors/purnama/clarice-wilson">Clarice Wilson</a>
        </li>
    </ul>
</div>