<h1>Yoga Instructors</h1>


<div class="spread-selector-container">
    <div class="spread-selector">
        <ul>
            <li>
                <div class="spread-selector-item">
                    <div class="spread-selector-image-slider-container">
                        <img src="/user/profile/clarice-wilson_profile-img_1a1a1a.jfif" alt="Clarice Wilson">

                    </div>
                    <div class="spread-selector-item-information">
                        <h2>Clarice Wilson</h2>
                        <h4>Cromwell, CT</h4>
                        <h3>Yoga Type</h3>
                    </div>
                    <div class="spread-selector-item-menu">
                        <ul>
                            <li><img src="" alt="">Save</li>
                            <li><img src="" alt="">Talk</li>
                            <li><img src="" alt="">Share</li>
                            <li><img src="" alt="">SS</li>
                        </ul>
                    </div>
                    <div class="spread-selector-item-description">
                        <p>Meet Clarice, a fun loving carefree yoga class. She brings complete comfort to your Yoga.</p>
                    </div>
                    <div class="action-bar">
                        <div class="button-bar">
                            <a href="/wellness/yoga/instructors/clarice-wilson">Go</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="spread-selector-item">
                    <div class="spread-selector-image-slider-container">
                        <img src="/user/profile/roxana-milea_profile-img_1a1a1a.jfif" alt="Roxana Milea">
                    </div>
                    <div class="spread-selector-item-information">
                        <h2>Roxana Milea</h2>
                        <h4>Boston, MA</h4>
                        <h3>Yoga Type</h3>
                    </div>
                    <div class="spread-selector-item-menu">
                        <ul>
                            <li><img src="" alt="">Save</li>
                            <li><img src="" alt="">Talk</li>
                            <li><img src="" alt="">Share</li>
                            <li><img src="" alt="">SS</li>
                        </ul>
                    </div>
                    <div class="spread-selector-item-description">
                        <p>Meet Roxy, a fun loving carefree yoga class. She brings complete comfort to your Yoga.</p>
                    </div>
                    <div class="action-bar">
                        <div class="button-bar">
                            <a href="/wellness/yoga/instructors/roxana-milea">Go</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="spread-selector-item">
                    <div class="spread-selector-image-slider-container">
                        <img src="/user/profile/default_profile-img_1a1a1a.png" alt="Roxana Milea">
                    </div>
                    <div class="spread-selector-item-information">
                        <h2>Yoga Instructor</h2>
                        <h4>Home Office Location</h4>
                        <h3>Yoga Type</h3>
                    </div>
                    <div class="spread-selector-item-menu">
                        <ul>
                            <li><img src="" alt="">Save</li>
                            <li><img src="" alt="">Talk</li>
                            <li><img src="" alt="">Share</li>
                            <li><img src="" alt="">SS</li>
                        </ul>
                    </div>
                    <div class="spread-selector-item-description">
                        <p>Meet , a fun loving carefree yoga class. She brings complete comfort to your Yoga.</p>
                    </div>
                    <div class="action-bar">
                        <div class="button-bar">
                            <a href="/wellness/yoga/instructors/roxana-milea">Go</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>